[2022-04-02 07:43] merks opened #2 "Inappropriate validation error about a missing java package that is in fact available in the JDK"
I was attempting to reproduce the problem described in this forum post:

https://www.eclipse.org/forums/index.php/mv/msg/1110468/

When one tries to launch the product generated for an RCP template (as detailed in the forum post), or when one invokes "Validate Plug-ins" from the Plug-ins tab, PDE complains like this:

![image](https://user-images.githubusercontent.com/208716/161372452-3af870b1-678

[2022-04-02 09:15] merks opened #4 "Migrate PDE.setup to use github URIs for eclipse.pde.ui"

[2022-04-02 09:18] #4 closed

[2022-04-05 06:38] iloveeclipse opened #11 "Update PDE to ASM 9.3"
ASM 9.3 is released, with support for Java 19.
See https://asm.ow2.io/versions.html#9.3

We should update PDE to use it, once the bundle is in Orbit, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=579574

related bug for JDT is https://github.com/eclipse-jdt/eclipse.jdt.debug/issues/8

[2022-04-05 06:57] vogella commented on #11
@akurtakov is using Orbit still mandatory? Why not source it directly from Maven central via the Maven target integration?

[2022-04-05 07:00] merks commented on #11
I expect SimRel will likely function better if folks reuse things from a common source.

[2022-04-05 07:56] vogella commented on #11
Maven central is the common source even if Orbit is placed in between.

[2022-04-06 10:26] jukzi opened #12 "README.md / contribute out of date."
references https://wiki.eclipse.org/PDE/Contributor_Guide which still references git.eclipse.org instead of github

[2022-04-06 10:34] vik-chand commented on #12
Hannes had mentioned on pde-dev list "Furthermore I noticed that most of the links in the README.md at g.c/eclipse-pde/eclipse.pde.ui are outdated or point to targets that should be updated, too."

[2022-04-06 10:36] vik-chand commented on #12
@HannesWell

[2022-04-06 10:54] jukzi opened #13 "improve org.eclipse.pde.internal.core.ClasspathUtilCore.getPath(IPluginModelBase, String) performance"
a) During eclipse startup with many external libraries i see some seconds spend in ClasspathUtilCore.getPath
![image](https://user-images.githubusercontent.com/51790620/161955235-d0455b40-2657-479c-bdc4-7203755108ae.png)

There is a simple improvement possible:
instead of
`if (file.exists() && file.isAbsolute())`

use the inverse order:

`if (file.isAbsolute() && file.exists())`

since file.exists

[2022-04-06 12:02] mickaelistria commented on #13
PR for those changes would be very welcome!

[2022-04-06 13:31] jukzi commented on #13
added 2 identical commits :-(
rename jukzi to GitHubNewb --force.

Why is here no link to the pull request? (https://github.com/eclipse-pde/eclipse.pde.ui/pull/14) Otherway around there is.

[2022-04-06 14:10] vogella commented on #12
https://github.com/eclipse-pde/eclipse.pde.ui/blob/master/CONTRIBUTING is also wrong

[2022-04-06 14:26] mickaelistria commented on #11
We should now avoid Orbit unless there is a compelling reason to use it compared to getting the artifact from Central and PGP-signing it. It doesn't seem like it's the case here; shouldn't we just skip Orbit and use Maven Central libs (which happen to include decent MANIFEST.MF files) ?

[2022-04-06 14:28] vogella commented on #11
Maven link seems to be https://search.maven.org/artifact/org.ow2.asm/asm/9.3/jar

[2022-04-06 14:36] mickaelistria commented on #11
See https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/196 which adds upstream asm 9.3 to the target-platform.

[2022-04-06 14:45] vogella commented on #11
Awesome @mickaelistria, no more waiting for Orbit necessary. One middle-man less.

[2022-04-06 14:58] HannesWell commented on #11
While I agree that using libraries from Maven-Central directly is better, I wonder how we can ensure that not too many versions of the same library end up being used in SimRel? With Orbit there was only one (or at least few) versions that were used by all Eclipse projects. But what if we have a library that releases more frequently and has version 1.0, 1.1, 1.2, ... available and not all using pro

[2022-04-06 15:10] mickaelistria commented on #11
That's more the problem of SimRel ;) But technically, things like version range work well to allow all projects to use same version of 1 lib, but still....

1 *per Orbit repository*, but Eclipse projects participating to SimRel didn't all rebuild against the same Orbit repo for the given SimRel, so those numerous projects could always have shipped different version of a lib than the one provided b

[2022-04-06 15:10] merks commented on #11
@HannesWell Yes, this is my only significant concern here, i.e., to reduce the number of duplicates.   The simrel repo is a union of all the requirements of all the repos of all the projects on the train.  Many projects use bundle requirements so even changes in the bundle IDs will very likely lead to yet more duplicates.   In the past we could say "use the versions from the current Orbit" but now

[2022-04-06 15:17] mickaelistria commented on #11
The rule that currently states "Build against latest milestone of Orbit" could then become "Build against latest milestone of Platform, Orbit and projects you depend on". But indeed, many project will like to directly do it the Maven way, and will introduce newer versions. Fortunately, as it's now easy to change versions, we can maybe just encourage all projects to always use latest versions (simi

[2022-04-06 15:45] HannesWell commented on #11
OK, good to know.
Yes, I also didn't want to argue against this change in workflow because I think it makes many things much simpler and allows faster adaption of new versions. As @merks said everything has a price, although it is lower now. And as @mickaelistria said in comment https://github.com/eclipse-pde/eclipse.pde.ui/issues/11#issuecomment-1090384292 this problem is not completely new and P

[2022-04-07 05:52] laeubi commented on #11
Well actually maven central is also just a "bigger orbit" ... what would help indeed would be

- https://github.com/dependabot/dependabot-core/issues/4682

So automated updates+automated checks+automated releases --> less versions and less manual work = more time for happy coding.

[2022-04-07 08:48] vik-chand opened #16 "Internal error exporting plug-ins or features"
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=579512#c0

Steps to recreate
1. Create a plugin project
2. In dependency add a java project with manifest file
3. Try exporting this project
4.  You get
 java.lang.NullPointerException: element cannot be mapped to a null key
	at java.base/java.util.Objects.requireNonNull(Objects.java:233)
	at java.base/java.util.stream.Collectors.lambda$groupingBy

[2022-04-07 12:21] #16 closed

[2022-04-08 04:41] vik-chand opened #20 "Test failure only on windows (testGetMergedBundleMap_requiredFeatureWithNoVersion)"
org.eclipse.pde.ui.tests.launcher.FeatureBasedLaunchTest | testGetMergedBundleMap_requiredFeatureWithNoVersion | Error | element cannot be mapped to a null key                                                                           java.lang.NullPointerException: element cannot be mapped to a null key                                                  	at java.base/java.util.Objects.requireNonNull

[2022-04-08 04:42] vik-chand opened #21 "Test failure only on linux/Mac with java 11 (testProducts_productAddedToDerivedSourceFolder)"
org.eclipse.pde.core.tests.internal.WorkspaceProductModelManagerTest | testProducts_productAddedToDerivedSourceFolder | Error | N/A                                                                           java.lang.NullPointerException                                                  	at  org.eclipse.pde.core.tests.internal.WorkspaceProductModelManagerTest.assertSingleProductWithId(WorkspaceProdu

[2022-04-08 04:42] vik-chand commented on #21
This could be intermittent.

[2022-04-08 04:43] vik-chand commented on #20
This could be intermittent.

[2022-04-08 06:25] EclipseNewb commented on #20
could not reproduce locally on windows

[2022-04-09 18:11] mickaelistria commented on #11
Done with Done with https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/commit/8f79635e7217ecb24dbc209b964711e66a8f322d

[2022-04-11 07:16] iloveeclipse commented on #11
Nope, the version requirement in api tools should be updated too. I will push that.

[2022-04-11 08:19] laeubi opened #26 "Overhaul the feature editor"
The usage and meaning of features has recently cause a lot of confusion, for that reason I'd like to suggest an overhaul of the feature-editor to reflect today realities:

1. **Included Plugins/Included Features Tab**: according to @mickaelistria these are actually obsolete and could be expressed by "Dependencies" in a much more flexible and consistent way
2. **Dependencies** are actually misleadi

[2022-04-11 09:06] merks commented on #26
I don't think any realities have changed.  Plugin dependencies have always been respected even before p2.  I don't think this should be arbitrarily changed now because I don't see any benefit for removing things or for a forced migration to something different for any existing users....

[2022-04-11 09:44] laeubi commented on #26
I don't say that they are not expressed, but expressing them explicitly as a "dependency" seems superflous if the are installed anyway even if I *not* add them there. So from a user point of view, these are not "Dependencies" but more "additional items" as sat4j will be installed anyways. And given I have imported it with a proper version range whats the point then to list it?

Sure, but it was ar

[2022-04-11 09:54] merks commented on #26
You did say a statement that is true is not true and it seems to me conclusions for actions to be taken were drawn from that.

If something is superfluous then it need not be used.  With an include, I can force a specific known version to be installed and I can force combinations of specific things to be installed.  One may or may not want that so one can choose to use this aspect or not.  But you

[2022-04-11 10:06] laeubi commented on #26
@mickaelistria wrote:

so this for me reads as if they are superfluous. If not, why don't you suggested there "No, do not do that! Features really do work they way they are described, and people have been using this for decades."?

Maybe people are using features wrong for decades? At the moment the feature editor yells at me I should declare dependencies, while whenever I ask  for adding missing

[2022-04-11 10:38] merks commented on #26
Consider that perhaps you may be misunderstanding the use and over assuming what's superfluous.  Let me repeat the use case.  Inclusion allows me to specify installing a combination of specific versions of other features and bundles.    This use case is not superfluous, but rather something you can exploit to the effect you wish to achieve at your personal discretion.

Even in this case of the cha

[2022-04-11 10:41] vik-chand opened #27 "Update Jenkins File with timestamp and JUnit reports"
Right now, test failures are not shown properly.

[2022-04-11 10:49] #27 closed

[2022-04-11 10:54] vogella commented on #26
Multiple of my clients use the dependencies tab to document explicitely the requirement of a feature.

[2022-04-11 10:55] laeubi commented on #26
I don't say that the use case is superfluous, I just said that it seems duplicated functionality and it is not clear to the user what he should use, just try the following:

`<includes id="com.test.base.feature" version="1.0.0"/>`

versus
[code]

what produces the *same* p2 data.so it seems you can express the same thing with two different ways so one might get the feeling that one of those is not

[2022-04-11 11:20] merks commented on #26
You didn't answer all my questions, so let me answer the most significant one for you.  This does not work.

![image](https://user-images.githubusercontent.com/208716/162727946-1bfedfa9-8690-4d96-ae84-d69609680a40.png)

It produces this requirement which is not what I need/want:

[code]

When I hit recompute in the editor, the list is very big (which I don't want nor need) and even then I can't ex

[2022-04-11 12:08] laeubi commented on #26
You should simply add it without a version/match rule if you want similar things to using version 0.0.0 what actually got expanded at build time to the highest version available **and not** to the highest compatible version to your bundle, what most probably is not what *you want* but only works because you mostly use one update-site per release...

That's what I noted in my initial request, this

[2022-04-11 12:08] #26 closed

[2022-04-11 12:50] #11 closed

[2022-04-11 12:59] merks commented on #26
Here we are talking about the Dependencies tab which you advocated as a replacement for the "Included Plugins" and "Include Features" tabs.  I'm pretty sure the button just computes the transitive closure of the dependencies and I'm pretty sure it does so correctly.  But I don't need that so I don't use that.   I didn't suggest it was weird or wrong.  I also didn't see concretely what you were sug

[2022-04-11 15:03] Bananeweizen commented on #26
You cannot just propose to convert dependencies and includes into one thing, they are completely different, and it would break a lot of currently used installation flows:
* By including features/plugins I can easily check whether my product is self-contained for delivery. Not every feature is available from an update site, remember this is not just about eclipse.org projects. Not every computer is

[2022-04-11 21:41] HannesWell commented on #26
That's how I understand that too and although there is a functional overlap, for me "Included Plug-ins/Features" and "Dependencies" have a different semantics (but it's hard to tell exactly). But there is also a hard technical difference when building a p2-repo from features using Tycho. If [`tycho-p2-repository::includeAllDependencies`](https://www.eclipse.org/tycho/sitedocs/tycho-p2/tycho-p2-rep

[2022-04-12 04:55] laeubi commented on #26
Correct, because the do very very similar things, but I never advocated to change the *persistence* (feature.xml) so one could simply *improve* this one to e.g. have a checkbox "resolve to build version" that then produces a `plugin`, or if not set creates an `import`, because that's the main difference here and what has bugged @mickaelistria that the first is resolved only once at build time and

[2022-04-15 06:32] wimjongman opened #30 "EquinoxLaunchConfiguration (RAP launcher) always fails with "The org.eclipse.osgi plug-in is missing from this configuration.""
From: [Bugzilla 579708](https://bugs.eclipse.org/bugs/show_bug.cgi?id=579708) by @ifurnadjiev

RAP launcher (based on org.eclipse.pde.launching.EquinoxLaunchConfiguration) is broken after the change https://git.eclipse.org/r/c/pde/eclipse.pde.ui/+/186860

Before the change in org.eclipse.pde.launching.EquinoxLaunchConfiguration.preLaunchCheck(ILaunchConfiguration, ILaunch, IProgressMonitor) the mi

[2022-04-15 06:35] wimjongman commented on #30
@ifurnadjiev can you provide a PR for this?

[2022-04-15 06:37] ifurnadjiev commented on #30
Unfortunately, I don't have an idea how to fix it.

[2022-04-15 06:37] ifurnadjiev commented on #30
You can easily reproduce it by creating a new plugin project from "New Project Wizard" based on "View contribution using 3.x API" and run it as "OSGi Framework".

[2022-04-15 06:39] ifurnadjiev commented on #30
Probably the author of the change (Hannes Wellmann) can review the code once again and provide a fix.

[2022-04-15 08:14] wimjongman commented on #30
@HannesWell can you take a look?

[2022-04-15 08:15] vik-chand commented on #30
I was assigning to myself by mistake. Now assigned to @HannesWell

[2022-04-15 09:30] HannesWell commented on #30
Thanks for the report. This was indeed a silly bug. The boolean condition in the `preLaunchCheck()` method was just wrong.
I have created PR #31 to fix this.Please feel free to test the PR.

[2022-04-15 11:36] #30 closed

[2022-04-15 12:01] wimjongman commented on #30
@ifurnadjiev is this issue fixed?

[2022-04-15 12:38] ifurnadjiev commented on #30
I didn't test it yet. Will let you know if the problem (or other) persists.

[2022-04-15 14:44] Bananeweizen commented on #26
:+1 for a separate issue about removing the "Compute" button. Also for us that has been a source of problems by adding too many and (from my point of view) unclear dependencies.

[2022-04-15 15:46] ifurnadjiev opened #32 "org.eclipse.osgi requirement is not added for subclasses of EquinoxLaunchConfiguration"
Before the change https://git.eclipse.org/r/c/pde/eclipse.pde.ui/+/186860, the `org.eclipse.osgi` requirement was added automatically to all subclasses of EquinoxLaunchConfiguration. Now this needs to be added manually for every launcher type like:
[code]
The problem here is that RequirementHelper class is internal.

[2022-04-15 15:53] HannesWell commented on #32
Thanks for the report.
I will have a look at this at the weekend. But I think it should be solvable soon.

[2022-04-19 08:58] laeubi opened #34 "Split API from implementation"
currently there is a bundle `org.eclipse.pde.core` that contains API and implementation and even ant-task stuff.

That makes it quite hard to sue PDE api in other context without pulling in much dependencies. It would be good to have a new `org.eclipse.pde` containing all public API. bundles that previously contained that API could require bundle the new bundle and use the [visibility = reexport](

[2022-04-19 09:23] vogella commented on #34
+1

[2022-04-19 09:25] vogella commented on #13
AFAICS the change from @jukzi is merged. I close this issue, Jörg, please reopen if you still have pending changes here.

[2022-04-19 09:25] #13 closed

[2022-04-21 11:07] vogella opened #35 "Rename pde.ui repository to pde"
pde.ui is a merge of pde.core and pde.ui. I suggest we rename the repo to eclipse.pde.

@vik-chand OK for you? This can be easily done by the foundation and Github will forward the old repo requests to the new one.

I did this with GEF classic without encountering any issues.

[2022-04-21 11:12] akurtakov commented on #35
@sravanlakkimsetti FYI as change in aggregator submodules would be required for this.

[2022-04-21 12:48] laeubi opened #36 "Support DS 1.4"
Currently DS supports a maximum level of 1.3 for DS components.

[2022-04-22 04:29] HannesWell opened #37 "Remove "Compute" Dependencies/ "Recompute when feature plugins change" Buttons from Feature-Editor"
Adding Plug-ins required by included Plug-ins of a Feature as requirements to a Feature (by clicking the `Compute` in the the `Dependencies` tab) in the Feature-Editor is not necessary. P2/Tycho respectively PDE can derive them from the specifying Plug-ins. Consequently those requirements are just a duplicates, in the best case.

In the worst case the those requirements lead to resolution problems

[2022-04-22 04:30] HannesWell commented on #26
I created https://github.com/eclipse-pde/eclipse.pde.ui/issues/37 for this. Please express your consent or objections there.

[2022-04-22 04:32] HannesWell commented on #35
Sounds reasonable.
Will this be just a rename of the existing repo so that issues/PR continue to exist just as they are with only a new URL?

[2022-04-22 06:38] HannesWell opened #38 "Migrate pde.ds to 'org.osgi.service.component.annotations' from Maven-Central"
In https://github.com/eclipse-equinox/equinox/issues/18 `o.e.osgi.services` is migrated from embedding the sources of the osgi package `org.osgi.service.component.annotations` to use the osgi-bundles published to Maven-Central.

The OSGi-bundle `org.osgi.service.component.annotations` published to Maven-Central is designed to not resolve at runtime (see https://github.com/eclipse-equinox/equinox/i

[2022-04-22 06:44] laeubi commented on #38
I backported this to Tycho 2.7.2 as well : https://github.com/eclipse/tycho/discussions/903

Even though it is compatible, if one selects `1.2` only 1.2 should be on the classpath to prevent the usage of 'newer' annotations, so it might not be enough to only have the latest available.

[2022-04-22 06:52] HannesWell commented on #38
Great!

Yes that's right. I already expected that all versions have to be included. Unless the PDE-DS builder could parse some version annotations. But I think the compiler does a better job in that. And in the end I assume it's easier to ship all versions (a jar with a few annotations is not large) and put the desired one on the classpath for compilation.

Looks like I have opened another big box

[2022-04-22 06:54] HannesWell commented on #36
When enabling 1.4 I think it would be best to include 1.5 as well (unless there are major additional difficulties, I have not yet looked into the details):
https://search.maven.org/artifact/org.osgi/org.osgi.service.component.annotations

[2022-04-22 06:54] vogella commented on #37
+1

[2022-04-22 06:55] vogella commented on #35
Just a rename. For https://github.com/eclipse/gef-classic which used to be https://github.com/eclipse/gef-legacy it worked flawless, also existing PR were still intact.

@vik-chand please approve.

[2022-04-22 06:56] laeubi commented on #38
Yep, but having DS 1.4 support would be really great and appreciated ;-)

I even think that we can start with supporting the 1.4 annotations first and simply do the editor later, if annotations work smoothly there is not much need for an editor anyways and we maybe just drop it and replace with a simple XML editor...

[2022-04-22 06:57] vogella commented on #38
FWIW, I think we can retire the non textual part of the DS editor and only support a text editor for it. The "advanced" UI used to be very buggy in the past (when I still tried to use it) and have not been improved since.

[2022-04-22 06:58] vik-chand commented on #35
Looks good to me.

[2022-04-22 06:58] laeubi commented on #36
Sure I have not yet what has changed between 1.3 -> 1.4 -> 1.5 maybe @tjwatson or @bjhargrave can give a short summary.

[2022-04-22 07:00] vogella commented on #35
https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1199

[2022-04-22 07:03] HannesWell commented on #35
Thanks!

[2022-04-22 07:12] HannesWell commented on #38
Understand. I'll try to not postpone it too long.

I have not yet worked much with DS (but since it looks very promising I hope/expect to use it more in the future). However I was surprised an Editor even exists. As you said I thought the xml is supposed to be fully generated by the tooling. So there should not be any need for it, should it?

So I would support the removal.
How could we conduct it

[2022-04-22 07:20] laeubi commented on #38
There was a time before annotation support in OSGi and you can still create the XML without using annotations (for whatever reasons). Its also sometimes much nicer to have a UI present things in a structured way that staring at an XML document, especially if your not that familiar with it.

Don't know but the editor already "knows" what to open so it is disabled for anything > 1.3 already

https:/

[2022-04-22 07:44] vogella commented on #38
I should still support the textual editor. I think it would be fine to remove the other tabs and put this into the N&N.

[2022-04-22 08:50] vogella commented on #35
Done

[2022-04-22 08:59] vogella commented on #35
PR for aggregator

[2022-04-22 09:59] iloveeclipse opened #40 "Add "Service-Components" tab to MANIFEST.MF editor?"
I'm always trying to find looking in the PDE editor for MANIFEST.MF a tab where are the services shown, and every time I realize there is nothing. Why? Shouldn't we add "Service-Components" tab with a list of component xml files under OSGI-INF directory and might be a button "add new component" that would call the "Component Definition wizard"?

Just an idea, probably easy to implement.

[2022-04-22 10:09] vogella commented on #40
I'm on the other side, from my experience with new users it is confusing for them that the MANIFEST.MF editor gives access to three different files. AFAICS this concept of having one editor for multiple files is unique in Eclipse and therefore confusing for new users.

[2022-04-22 11:18] iloveeclipse commented on #40
I don't want to edit the component files in the manifest editor, but list them, similar to the list of extension points provided or runtime entries etc. There is currently *no* overview on services provided by the plugin and no clear indication "here you can add a new one". It is just convenient to have everything what the bundle provides in one place.

[2022-04-22 12:50] bjhargrave commented on #36
DS 1.3 -> 1.4: https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#d0e46608

DS 1.4 -> 1.5: https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.component.html#d0e39795

[2022-04-22 12:56] laeubi commented on #36
thanks for the doc reference, I have one question regarding [constructor injection](https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#service.component-constructor.injection) (maybe also just overseen that):

Ho is this supposed to work with annotation? Should a annotation processor simply assume that constructor injection is desired if there is a public non-default constr

[2022-04-22 13:05] bjhargrave commented on #36
The constructor must be annotated `@Activate` and the constructor arguments which are not activation object types must be annotated `@Reference`.

See <https://github.com/osgi/osgi/blob/b9f994ed76c755ebe2634465a27e46429ee0b836/org.osgi.impl.bundle.component.annotations/src/org/osgi/impl/bundle/component/annotations/ConstructorInjection.java#L49-L58> for a test example.

[2022-04-22 13:07] laeubi commented on #36
Sounds obvious, thanks for the example!

[2022-04-22 16:44] laeubi opened #42 "APi tools should import package ASM instead of require bundle it..."
Currently API tools can become unresolvable if ASM 9.2 and ASM 9.3 are present see:
https://github.com/eclipse/xtext-eclipse/issues/1842

[2022-04-22 16:53] laeubi commented on #42
`org.eclipse.jdt.launching.javaagent` is another bundle in platform that uses require bundle ...

[2022-04-22 18:12] HannesWell commented on #35
Thank you Lars!
Is this task then completed and we can close this?

[2022-04-23 05:21] laeubi commented on #42
See also https://github.com/eclipse-jdt/eclipse.jdt.core/issues/36

[2022-04-23 10:25] #42 closed

[2022-04-24 08:14] HannesWell opened #44 "[API-Tools] Support features too"
At the moment PDE's API-Tools only work for Plug-in projects.
I would like to discuss to support Feature project's too.

The PDE-API tools could detect:
- Addition of new (transitively) included Plug-ins and Features -> Requires minor-version bump
- Removal of (transitively) included Plug-ins and Features -> Requires major-version bump
- Micro-Version bump of (transitively) included Plug-ins and F

[2022-04-24 15:07] vik-chand opened #45 "NPE when selecting feature in "Open Plug-in Artifact" menu"
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=579685
"Trying to access a feature that has been derived from workspace resources (e.g. a pom-derived feature that is contributed via m2e) in the "Open Plug-in Artifact" menu fails with a NPE.

Seemingly because JFace tries to load an image for this artifact using IFeatureModel#getInstallLocation, without considering potential null values.

Attach

[2022-04-24 15:26] vik-chand commented on #35
I think we are done here. There was a javadoc/releng test failure issue which I have fixed ( hopefully).

https://github.com/eclipse-platform/eclipse.platform.common/pull/13

[2022-04-24 15:26] #35 closed

[2022-04-24 16:16] #45 closed

[2022-04-25 06:49] fipro78 commented on #40
One thing is the overview that shows what services are provided. As an information that might be interesting. The "Component Definition Wizard" feels odd when a DS component is a class with annotations. The component xml files in OSG-INF are actually generated. So it would be a wizard that is similar to the "new class wizard" that adds the corresponding annotation. And for PDE it gets even more ug

[2022-04-25 07:12] fipro78 opened #47 "Incorrect Plug-in validation for feature based product"
In APP4MC we created a feature based product. It is actually an Eclipse IDE with several custom plug-ins for Amalthea Model editing and additional plug-ins. We have integrated all plug-ins that are necessary via features. But if we start the product via PDE launcher we get a validation error:

Missing Constraint: Import-Package: org.apache.commons.logging; version="[1.2.0,1.3.0)"

But the plug-in

[2022-04-25 07:23] merks commented on #47
I've also seen such seemly bogus validation errors which one can the apparently ignore because everything works properly when ignored just as you've described.

[2022-04-25 17:31] laeubi opened #48 "DS Editor should mark generated component.xml as derived resources"
Currently they are just regular files, it would be good to have them marked as derived so users don't edit them by accident.

[2022-04-25 17:36] HannesWell commented on #47
Are you using the latest Eclipse 2022-06 M1 or a previous version of Eclipse?

For Eclipse-Application launches `org.eclipse.pde.internal.launching.launcher.EclipsePluginValidationOperation` respectively its super-class `LaunchValidationOperation` (which is likely more interesting in this case) is used.

Could you create a minimal reproducer for this problem consisting of a target-platform, featur

[2022-04-25 17:43] HannesWell commented on #48
Good suggestion.
I also just thought about automatically adding a corresponding OSGI-INF/.gitignore to ignore the generated component xml files in git. At least optionally, controlled by a preference.

[2022-04-25 17:48] laeubi commented on #48
please don't add more `.gitignore` I already get random ones and have no clue who the heck generates them :-)
If one like he can better define it on the project or root level.

[2022-04-25 19:48] HannesWell commented on #48
Not every thought is a good idea. ;)
But indeed files that are generated out of nowhere can be annoying. And since there are other unclear questions I think this is better than by a user that can then also decide how to ignore those xml files (listing them one by one, using a wildcard, ...) if it is desired.

[2022-04-26 12:31] fipro78 commented on #47
No, Eclipse 2022-03 and previous.

Not sure, I can try. But I suppose the issue comes up because the target, features and product are more complicated. Not sure what needs to be done to create a minimal reproducer.

The APP4MC project consists of all that, a target, several features and a product. And it follows the standard project setup. Probably quite the same as a minimal reproducer would look

[2022-04-26 19:21] SarikaSinha opened #49 "Bug 579742 Unable to start Eclipse application from older target platform since 2022-03 due to security manager issue"
As part of [bug #575210](https://bugs.eclipse.org/bugs/show_bug.cgi?id=575210), a PDE launch configuration automatically adds -Djava.security.manager=allow to the command line as soon as the target JRE is Java 17. However, this breaks launching Eclipse applications that are based on an older version of Eclipse (such as 2021-03) because they try to load the class "allow" for the security manager bu

[2022-04-27 08:37] vogella opened #52 "Add required plug-ins should filter out source bundles"
Source-Bundles build by Tycho have a Eclipse-SourceBundle header in their MANIFEST and IIRC PDE requires that in order to be able to locate sources of bundles. This would be a reliable test that does not rely on naming conventions.

The "Add dependencies" dialog of PDE should use this information and do not offer source bundles to be added as MANIFEST.MF dependencies.

[2022-04-27 08:39] laeubi commented on #52
PDE build ones as well, otherwise they won't be recognized as a source-bundle...

As they are valid bundles they are valid candidates for require-bundle...

[2022-04-27 10:48] #32 closed

[2022-04-28 11:06] jukzi opened #53 "Build slow while MANIFEST.MF editor open"
I have a MANIFEST.MF file open in the PDE Editor. Then i started Project/Clean/"Clean all Projects" in a big workspace. After that the progress was stuck for ~20min at 100% Cleaning all projects.
![image](https://user-images.githubusercontent.com/51790620/165737834-4e3af20d-306a-4ee4-a521-f95bf3531896.png)

I see the open PDE editor is informed about every single ".class" file changed during the b

[2022-04-28 11:08] jukzi commented on #53
While there are several issues in the swt messagehandling that could be improved it would be good if PDE would not send a message for every single file but only a single update for all files at the end, please! I guess nobody need intermediate updates of the editor during the build.
Or at least throttled (org.eclipse.jface.util.Throttler.throttledExec()) update of the UI, please.

[2022-04-28 11:11] jukzi commented on #53
here is a screenshot of some time sampled:
![image](https://user-images.githubusercontent.com/51790620/165739569-8f1295cb-f99b-4ced-8827-ad8b6f47da6d.png)

[2022-04-29 07:38] akurtakov opened #55 "Test failure in I-build"
In the last few I-builds we have test failure:
https://download.eclipse.org/eclipse/downloads/drops4/I20220428-1800/testresults/html/org.eclipse.pde.ui.templates.tests_ep424I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html

[code]

[2022-04-29 07:39] akurtakov commented on #55
This looks closely related to recent changes to osgi.utils.

[2022-04-29 11:50] merks commented on #53
@jukzi  Thanks again for analyzing and reporting a problem like this!

[2022-04-29 11:50] #53 closed

[2022-04-29 12:29] jukzi commented on #53
@merks thanks for solving the issue. It's an exceptional nice event to get an eclipse issue solved -  by someone else - and even directly after reporting it.🥂

[2022-04-29 12:53] merks commented on #2
@HannesWell

I could not reproduce this from a self-hosted SDK IDE launch with all the lastest sources. Is this perhaps a problem that could have been fixed by changes you made in the last while?

[2022-04-29 14:21] akurtakov commented on #55
If templates are not using "include required Plug-ins automatically" please adjust them to do so. We should do as much as possible to make people know of new automation and it being on by default for new projects.

[2022-04-29 17:27] HannesWell commented on #2
I did changes in the way which bundles are added to a launch, but this looks like a problem in the validation itself since that package should be provided by the JRE respectively the OSGi system-bundle (o.e.osgi), shouldn't it?
I did not change the validation itself. The closest change to the validation I did is this:
https://github.com/eclipse-pde/eclipse.pde/commit/774c5698fb3e145edacf276674d27c

[2022-04-29 22:22] HannesWell commented on #55
For the record, as Aleks suspected this was was a side effect of by https://github.com/eclipse-equinox/equinox.framework/pull/41

Unfortunately we cannot use that yet because that only works on Launch-Config level. For product level this is almost completed in PR #7, but then the automatic inclusion of requirements can only be controlled in the IDE, not yet in a Tycho/Maven build (not sure if this

[2022-04-30 07:31] #55 closed

[2022-04-30 23:31] nport opened #62 "[launch config] issues when a filter is used in conjunction with the "Only show selected" checkbox."
The OSGi Framework launch configuration editor doesn’t work as expected when the filters are used in conjunction with the “Only show selected” checkbox.

To reproduce the problems, follow the steps below:

1.	Open a new workspace in Eclipse
2.	Select menu Run > Debug Configurations … and create a new OSGi Framework launch configuration. The brand new configuration by default will have all the Targ

[2022-05-01 14:33] merks commented on #2
@tjwatson

I could reproduce the problem when I set an RCP installation as the target platform.  I think this issue is quite specific to javax.xml.bind_2.2.0.v201105210648 because it's one of the very few bundles with equinox_ee 9.  When trying to resolve its package import of javax.xml.stream, the resolver finds 5 candidates, all from the system bundle, but there is none with equinox_ee == 9:

![

[2022-05-01 15:40] tjwatson commented on #2
My guess is because I refused to keep adding more and more Java profiles after `/org.eclipse.osgi/JavaSE-9.profile`.  Instead the framework calculates the available system packages using JPMS to discover the configured modules of the JVM.  I know this disrupted some, including JDT and PDE that came to depend on these hard-coded files.  I thought that both started calculating the packages similar t

[2022-05-02 08:52] merks commented on #2
I misread what the ee numbers mean; they're an index in an array, so not meaningful with respect to Java version numbers.

The problem here is that the BREE of javax.xml.bind is 1.5 but it imports package javax.xml.stream which was introduced in Java 1.6 so the bundle itself is inherently inconsistent:
[code]
![image](https://user-images.githubusercontent.com/208716/166206695-82e4bb94-cd1c-49d3-b6

[2022-05-02 09:52] jukzi opened #64 "java.lang.Exception: The resource tree is locked for modifications."
I don't remember what exactly i did (something like open/closing project), just found it in my logfile. Maybe somebody can see in exception whats wrong?
java.lang.Exception: The resource tree is locked for modifications.
[code]

[2022-05-02 11:39] iloveeclipse commented on #64
The problem is, that while resource tree is locked, someone (PDE) tries to modify resources **without** requesting a lock (so neither in a job with appropriate rule nor by manually locking file that is written).
This is disallowed, so exception.
The code in https://github.com/eclipse-pde/eclipse.pde/blob/3f9f33643122a8109460e88362593d67fde42ed5/ui/org.eclipse.pde.core/src/org/eclipse/pde/internal/

[2022-05-02 12:03] tjwatson commented on #2
This multi-osgi-ee-profile stuff was added explicitly for PDE validation to ensure bundles don't start using packages that are not available at higher execution environments without pulling in a different provider of the package.

Perhaps the time for such a check has passed?  I'm not sure how to relax that without simply removing all this multi-osgi-ee-profile stuff altogether when PDE resolves.

[2022-05-02 12:34] vogella commented on #2
IIRC the execution environments were not updated for latest versions and someone (@akurtakov ?) were planned to retire this functionality.

[2022-05-02 13:57] merks commented on #2
No, everything seems up-to-date with respect to newer EE environments.  In the end, the real problem is that java.xml.bind is simply wrong---the BREE contradicts the required packages---but I don't think anyone really ever developed it in a workspace as source plugin to notice it's wrong.  So I'm not sure we should rip out stuff that's useful in other scenarios to deal with this exceptional case..

[2022-05-03 13:16] vogella opened #68 "Run as Plug-in test still adds the fragments to the runtime which are invalid for the platform"
I'm currently helping a bit with WindowBuilder trying to cleanup the repo and to activate more tests.

If I open org.eclipse.wb.tests.utils.CommonTests and run it as plug-ins tests I see the following errors:

org.osgi.framework.BundleException: Could not resolve module: org.eclipse.wb.os.linux [278]
  Unresolved requirement: Require-Capability: eclipse.platform; filter:="(& (osgi.ws=gtk) (osgi.os

[2022-05-03 16:05] laeubi opened #69 "Support bundle-annotations"
PDE currently supports DS annotations, ist would be usefull to support https://blog.osgi.org/2018/07/osgi-r7-highlights-bundle-annotations.html as well.

[2022-05-04 06:25] merks commented on #68
For Oomph we include all platform specific fragments in the target platform so when launching with all plugin, we generally see all kinds of such exceptions.   I find it annoying and would be really happy if PDE were smart enough not to include fragments that are filtered out by the current platform because clearly these are not appropriate to include...

[2022-05-05 15:21] nport opened #74 "DS Annotations processor updates the MANIFEST.MF file in a unfriendly way, in regards to a source versioning system."
The attached picture shows the result of a build. Nothing is changed in the source code, just the Eclipse version. On the right Eclipse Oxygen, on the left Eclipse 2022-03, both on Windows 10.

![DSManifestCompare](https://user-images.githubusercontent.com/6675853/166956401-352a379a-7d78-4704-add6-861111f5806c.PNG)

The ServiceComponent manifest header has been moved inside the MANIFEST.MF file, b

[2022-05-05 23:45] nport commented on #74
Just noticed that one of the above issues is the result of an explicit bugfix of bug 573557, as described in class [DSAnnotationCompilationParticipant.java](https://github.com/eclipse-pde/eclipse.pde/blob/b8fdc05299682d27de59e466ff74d2e7d05b47d3/ds/org.eclipse.pde.ds.annotations/src/org/eclipse/pde/ds/internal/annotations/DSAnnotationCompilationParticipant.java#L14).

In my opinion the xml files o

[2022-05-06 06:43] akurtakov commented on #74
@laeubi as you did the bugfix mentioned, what do you think?

[2022-05-06 06:47] vogella commented on #74
After the initial change from @laeubi the order should be stable afterwards, right? Or does it still changes after the intial sorting?

[2022-05-06 06:54] laeubi commented on #74
This is a mixture of two issues:

1. previously the order of the items was random, so there often where changes even if everything is the same, this is fixed now but triggers a change if the order was previously random and one could only recommend to accept that change for the version control to have consistent order in the future or revert/delay/assumeunchanged the file if it is absolutely necess

[2022-05-06 07:55] vik-chand opened #75 "testPublishAndRunSimpleProduct fails since I20220503-1930"
Probably related to pde.build repo  merged into pde repo.

The following error occurred while executing this line: /Users/genie.releng/workspace/ep424I-unit-mac64-java17/workarea/I20220503-1930/eclipse-testing/test-eclipse/Eclipse.app/Contents/Eclipse/plugins/org.eclipse.pde.build_3.11.200.v20220503-0921/scripts/build.xml:94: The following error occurred while executing this line: /Users/genie.rel

[2022-05-07 17:11] vik-chand opened #76 "Make RemoveBuildEntryResolution as a multifix"
Make RemoveBuildEntryResolution as a multifix. RemoveBuildEntryResolution can happen for 4 different compiler flags.

[2022-05-07 19:38] vik-chand commented on #76
Fixed with PR #78

[2022-05-07 19:38] #76 closed

[2022-05-08 13:10] vik-chand opened #79 "Make AddBuildEntryResolution as a multi-fix"
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=577144

"From Michael Keppler:

"org.eclipse.pde.internal.ui.correction.AddBuildEntryResolution.createChange(Build) two members of the quick fix class are overridden by some information from the marker. Since there are 2 different quick fixes (add source.., add src.exclude) for the same kind of marker, this cannot work. It basically makes the seco

[2022-05-08 14:06] #79 closed

[2022-05-09 08:26] iloveeclipse commented on #75
@vogella : could you please provide a fix for the test fail?

[2022-05-09 08:33] akurtakov commented on #75
Another (and more likely) reason to investigate is direct usage of osgi bundles in Equinox which we have seen needed adjustments in various places.

[2022-05-09 08:37] vogella commented on #75
Sorry no, I don't see how this can be related to the move and have no knowledge about the usage of the pde build. I also would guess that is more related to the Equinox changes but still would have no idea how the PDE build works.

[2022-05-09 09:12] jukzi opened #81 "NPE when editing MANIFEST.MF"
it's logged to console:

[code]

in a backgroundthread there is no Display.getCurrent()

[2022-05-09 10:19] nport commented on #74
Yes, you are right

The point here is that the MANIFEST.MF (and by the way the xml too) was changed during the build even if there was no changes in the source code.

What I have to do if it happens on plugins that have a stable version number? Do I have to commit the new manifest and increment the revision and release a new bundle? I have about 30 plugins in this situation.
In my opinion, to guar

[2022-05-09 10:34] laeubi commented on #74
Most probably this happens when there *are* changes but in the end the *result* might look the same, e.g. when you have some build errors then currently the component.xml is removed, if you fix those it is later added back again (with probably different content).

That would require a lot of changes internally and I don't see much benefit from that given that is only helps in rare cases and one co

[2022-05-09 12:29] nport commented on #74
The project was already imported in 2023-03 (see below) since a couple of weeks and worked on it. I reopened it and this suddently these changes appeared. I didn't change many of the involved plugins since one year.

I still was not able to reproduce this behaviour. This is similar to what is currently happening. The component xml files of certain projects (not all) sometime gets regenererated (in

[2022-05-09 15:39] vik-chand opened #83 "final static public field addition to class with no reference should give unsupported tag error/warning"
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=559354

See https://bugs.eclipse.org/bugs/show_bug.cgi?id=559354#c2

[2022-05-09 15:57] vik-chand opened #85 "Migrate Event spy to pde ui"
From https://bugs.eclipse.org/bugs/show_bug.cgi?id=579407
"It seems that we forgot to migrate the event spy as expected in [bug #498252](https://bugs.eclipse.org/bugs/show_bug.cgi?id=498252)

I reopen a bug to trace it.

If you are using Eclipse 2022-03 and you need it, it is available on my update site here : https://www.opcoach.com/repository/2021-12-E4Spies/"

[2022-05-10 06:24] #75 closed

[2022-05-10 06:29] vogella commented on #75
Thanks @akurtakov for working on this.

[2022-05-10 06:45] vik-chand commented on #75
Awesome @akurtakov

[2022-05-10 10:21] martinlippert opened #88 "NoSuchElementException being thrown when showing old launch configs"
I am trying to open and edit old launch configs with the latest Eclipse 4.24 M2 bits and pieces, but I am getting this exception and it looks like the selection of plugins on the "Plug-ins" tab is gone (the list is full of un-checked plugins), so there is some data getting lost here.

[code]

This is moved from https://bugs.eclipse.org/bugs/show_bug.cgi?id=579872

[2022-05-10 10:29] martinlippert commented on #88
If there is anything that I can provide to make the investigation of this easier. let me know. Since the data loss here is quite dramatic for someone working on plugin projects and having a bunch of launch configs with a specific set of plugins selected from the target platform and the workspace plugin project.

[2022-05-10 11:26] vik-chand commented on #88
@HannesWell  Can you please have a look?

[2022-05-10 11:42] iloveeclipse commented on #88
Why do we want `orElseThrow()` at all? If I understand it right, we should simply return empty iterator
https://github.com/eclipse-pde/eclipse.pde/blob/7eb3eab3467c8df9871b7b1144a332480cfae03e/ui/org.eclipse.pde.launching/src/org/eclipse/pde/internal/launching/launcher/BundleLauncherHelper.java#L435

[2022-05-10 11:45] opcoach commented on #85
Ok, this bug will be only for the pure migration without any change regarding the jdt dependency or other UI enhancements...

[2022-05-10 13:47] vik-chand commented on #85
The 2 failures are

testDelete_projectWithChangedBundleRoot
testProducts_productAddedToDeriveFolderNestedInSrcFolder

[2022-05-10 14:33] opcoach commented on #85
Are the N&N still on this repo : ssh://xxxxxxxxx@git.eclipse.org:29418/www.eclipse.org/eclipse/news ?

[2022-05-10 19:14] HannesWell commented on #88
Yes, I can take of this on thursday.And Andrey ist right, orElseThrow() should not be used here. An empty iterator could be returned if the Optional is empty, but I think the simplest way is to use ***@***.*** could you please check if the old launch-config contains workspace-plugins that are absent or closed? And If removing the absent/closed entries avoids the exception.

[2022-05-11 06:56] akurtakov commented on #85
This created 6 new warnings in the nightly build https://download.eclipse.org/eclipse/downloads/drops4/I20220510-1800/testResults.php#PluginsErrors . Detailed at https://download.eclipse.org/eclipse/downloads/drops4/I20220510-1800/compilelogs/plugins/org.eclipse.pde.spy.event_1.0.0.v20220510-1429/@dot.html

[2022-05-11 13:15] pzi-dsa opened #90 "Unable to load p2 dependencies from nested target files"
I'm currently trying to create a modular target file where I use a base file, which is shared among all projects, and then add additional dependencies for each project individually.
However, I noticed that there seems to be issues resolving p2 dependencies from the base file.
Example:
![image](https://user-images.githubusercontent.com/92990747/167854896-9d3b0f5f-3ecb-436f-85e9-17053f234a27.png)

B

[2022-05-11 13:49] vogella commented on #90
@pzi-dsa does it work with Tycho? Can you share an example target file which shows the problem?

[2022-05-11 14:31] vogella commented on #90
@laeubi you implemented both, can you have a look?

[2022-05-11 14:45] laeubi commented on #90
First it would help to attach the target file that creates the problem, second I don't fully understand what the error is e.g. what is the expected behaviour?
Just in case please note that you need to reload the target whenever one of the childs change, this will not be detected automatically.

[2022-05-11 14:58] pzi-dsa commented on #90
I would assume that the p2 artifacts from both embedded target files are added to the classpath. It's not a problem when both are identical. But effectively, all bundles provided by Child 2 are unavailable.

Reloading the embedded files, the parent file and any other combination doesn't resolve the problem.

[2022-05-11 15:01] laeubi commented on #90
Does this also happen if they *are* different? It might be that pde is filtering stuff when it is already there?

[2022-05-11 15:12] laeubi commented on #90
As it works with the maven type it seems not be directly specific to m2e or the nested target, I fear one needs to debug this to get more details, @pzi-dsa do you like to take a look?
The interesting part should be at org.eclipse.pde.internal.core.target.TargetReferenceBundleContainer.getTarget(IProgressMonitor) that is where it loads the target that is referenced and simply return its content.

[2022-05-12 06:33] HannesWell commented on #88
Looks like Github as detected the interesting part of my reply send via mail as an E-Mail an obfuscated it. I have edited it.

PR 93 should fix the problem. Feel free to have a look.
It also adds a test-case that should reproduce your problem and fails without the fix and passes with it.

[2022-05-12 08:45] pzi-dsa commented on #90
It seems like the problem shows up while trying to load the artifacts from the target file. The error message is normally ignored, but this is the corresponding stacktrace:
[code]
After looking at the IUs which are actually available to the profile, I got the following list:
 - org.apache.log4j.source=org.apache.log4j.source 1.2.15.v201012070815
 - org.apache.log4j=org.apache.log4j 1.2.15.v2010120

[2022-05-12 08:52] laeubi commented on #90
Do you see an opportunity to make the target resolution fail in such a case instead silently(?) ignore that?

That is possible but the IU location and P2 stuff is kind of mystery :-)
Probably someone with more knowledge an that area could give a hint how to refresh that cache? There is a "refresh" action in the target, maybe this must be invoked as part of a Nested Target refresh as well?

[2022-05-12 09:52] pzi-dsa commented on #90
I don't think there's an easy way to propagate the exception upwards. But the exception should at least show up in the error log. I have created the corresponding [pull request](https://github.com/eclipse-pde/eclipse.pde/pull/95)

[2022-05-12 10:57] pzi-dsa commented on #90
I think I found the cause of the problem. Those lines in the _contentsChanged_ method of the _TargetEditor_ class are called when I click the reload button in the IDE:
[code]
I.e. only the target profile of the parent is deleted, but none of the children. As a quick fix, I then adapted the _reload_ method of the _TargetReferenceBundleContainer_ class:

[code]

And with this, the target platform is

[2022-05-12 11:03] laeubi commented on #90
If it works... why not ;-)

Beside that, a target location can be adapted to the types used in the content editor and then one could trigger the appropriate methods on those items, so you at least do not need to copy the code and just trigger what would be triggered in an editor as well.

The relevant method should be `org.eclipse.pde.ui.target.ITargetLocationHandler.reload(ITargetDefinition, ITar

[2022-05-12 13:06] martinlippert commented on #88
Yes, I checked this again and you can easily reproduce this error using these steps:

- open Eclipse with empty workspace
- import a plugin project
- create a launch config where this plugin from the workspace is selected (so switch to the mode where you select individual plugins)
- close the launch config dialog
- delete the plugin project from the workspace
- open the launch config again, it wil

[2022-05-12 17:58] #88 closed

[2022-05-13 05:35] akurtakov opened #102 "Stop building and publishing api.tools.ee.feature"
If one looks at https://github.com/eclipse-pde/eclipse.pde/blob/master/apitools/org.eclipse.pde.api.tools.ee.feature/feature.xml it contains only osgiminimum and cdc profiles that are totally useless now. Thus I propose to stop building and publishing the feature.
@vik-chand what do you think?

[2022-05-13 05:36] vogella commented on #102
Can we also delete the osgiminimum and cdc profiles?

[2022-05-13 08:37] #81 closed

[2022-05-13 11:31] #49 closed

[2022-05-13 11:56] SarikaSinha opened #105 "Followup on issue #49"
https://github.com/eclipse-pde/eclipse.pde/pull/100#discussion_r871675967

Based on the comment we need to discuss and make the solution more robust.

[2022-05-13 12:25] vogella commented on #105
@SarikaSinha please use descriptive text for issue, e.g. the header should describe the issue instead of just putting in issue numbers.

[2022-05-15 14:20] vik-chand opened #108 "Lot of warnings about "Non-externalized string literal""
Many of these warnings are due to quickfix/cleanup removing the //$NON-NLS-1$ comment ( I will file a separate bug in jdt.ui for that). At least one of the strings needs to be externalized.

[2022-05-15 16:13] #108 closed

[2022-05-17 06:29] HannesWell commented on #88
Verified with Eclipse SDK

Version: 2022-06 (4.24)
Build id: I20220516-1800

[2022-05-17 07:26] vik-chand commented on #79
verified on
Eclipse SDK

Version: 2022-06 (4.24)
Build id: I20220514-1800

[2022-05-17 08:25] vogella opened #114 "Retire "Update Site" project wizard and related editor"
Based on https://github.com/eclipse-pde/eclipse.pde/discussions/113#discussioncomment-2765717 we should retire the wizard and related editor.

We may also want to deprecated its support in p2 but that would be a different issue in a different repo.

[2022-05-17 08:41] #85 closed

[2022-05-17 08:42] vik-chand commented on #85
Warning is now fixed by @akurtakov

[2022-05-17 08:57] vik-chand commented on #102
These EEs are present in Installed JREs-> Execution Environment. We should remove this together.  ( @SarikaSinha for jdt debug) .Also I think 4.25M1 may be a good milestone to do this assuming there are no objections.

[2022-05-17 09:04] vogella commented on #102
@vik-chand can you do the deletion in PDE and coordinate with @SarikaSinha?

[2022-05-17 09:33] SarikaSinha commented on #114
Based on https://github.com/eclipse-pde/eclipse.pde/discussions/113#discussioncomment-2766261 we should not retires this wizard as it is very convenient and people who have created update sites with this wizard will need it for maintaining it.

[2022-05-17 09:45] vogella commented on #114
You should be able to use the category.xml wizard to this. Please test and see if something is missing for your use case.

[2022-05-17 16:42] vik-chand commented on #85
@opcoach
Can you add the location of event spy? Also a snap of location or spy or both event spy would help.

[2022-05-19 06:38] martinlippert commented on #88
Tested my setting with the latest fixes, works all well again. Many many thanks again @HannesWell !!!

[2022-05-19 07:10] HannesWell commented on #88
Great. :)
You are welcome and thanks for the bug report.

[2022-05-19 15:12] vik-chand commented on #21
This happened on Mac as well https://download.eclipse.org/eclipse/downloads/drops4/I20220519-0130/testresults/html/org.eclipse.pde.ui.tests_ep424I-unit-mac64-java17_macosx.cocoa.x86_64_17.html

[2022-05-19 15:58] jjohnstn opened #117 "New 4.24 JDT feature to run JUnit5 failures first requires change to RemotePluginTestRunner"
The new JDT feature to run failures first uses a MethodOrderer class that is specifed in org.eclipse.jdt.junit5.runtime.  The building of the test plan eventually calls the junit engine which cannot find the class because it is not in the engines bundles nor is required by the user's test plug-in.  To fix this, the bundle needs to be added for JUnit5 plug-in testing.

This fix is requested for 4.2

[2022-05-23 06:34] iloveeclipse commented on #117
This seem to cause two new test fails in [org.eclipse.pde.junit.runtime.tests](https://download.eclipse.org/eclipse/downloads/drops4/I20220522-1800/testresults/html/org.eclipse.pde.junit.runtime.tests_ep424I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html#org.eclipse.pde.junit.runtime.tests)

[code]

[2022-05-23 06:49] vik-chand commented on #117
caused by
if (junit5RuntimeBundle == null) {
			throw new IllegalArgumentException("Bundle \"" + junit5RuntimeBundle + "\" not found."); //$NON-NLS-1$ //$NON-NLS-2$
		}

[2022-05-23 06:50] vik-chand commented on #117
Not sure why the tests triggered by pr didn't catch this issue.

[2022-05-23 10:52] vik-chand commented on #117
Fixed with https://github.com/eclipse-pde/eclipse.pde/pull/119

[2022-05-23 10:52] #117 closed

[2022-05-23 13:20] merks opened #121 "The Create target reference page doesn't work well on Windows"
Attempting to use `file:${project_loc:/<project-name>}/` results in a URI syntax error:

![image](https://user-images.githubusercontent.com/208716/169828071-ad580082-7e7f-429b-a035-d442ccc5c181.png)

The logic implemented by org.eclipse.pde.internal.core.target.RemoteTargetHandle.get(String), which calls org.eclipse.pde.internal.core.target.RemoteTargetHandle.convertRawToUri(String) should be reus

[2022-05-23 13:32] merks commented on #121
This is what  I've implemented.  I.e., the logic is reused so that there is no validation error and I populated the dropdown with the available *.target files in the workspace (excluding the target definition itself of course).

![image](https://user-images.githubusercontent.com/208716/169830604-ab465476-2214-44c0-b671-b05de8e1a4f1.png)

[2022-05-23 14:08] #121 closed

[2022-05-24 08:47] vik-chand commented on #114
As discussed across issues, there is no 1:1 mapping and there are few things that can be only done by "Update Site". Closing this as not planned for now.

[2022-05-24 08:47] #114 closed

[2022-05-25 06:28] SarikaSinha opened #123 "[19] Create JavaSE-x-systempackages.profile for Java 19"
JavaSE-x-systempackages.profile for Java 19 to be created.

Reference: https://bugs.eclipse.org/bugs/show_bug.cgi?id=577684

[2022-05-25 06:30] SarikaSinha opened #124 "[19] Investigate API tools with new Java version (19) and current ASM"
Investigate if the current ASM version breaks/supports new Java version. If required get new ASM version.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=577683

[2022-05-26 15:43] vik-chand opened #125 "testDelete_projectWithChangedBundleRoot fails intermittently"
[code]

It fails on I build page and sometimes on tests while pr validation too.

[2022-05-27 10:19] merks opened #126 "Exceptions thrown by IUBundleContainer.cacheIUs and recorded by IUBundleContainer.synchronizerChanged are lost"
In this debug session you can see that the resolve method expects exceptions to be thrown and records those in the multi-status in the catch clause below the selected new logic that I've added:

![image](https://user-images.githubusercontent.com/208716/170686005-076ad2c0-f519-49a8-a4c5-a1a58db51313.png)

But the exception thrown by IUBundleContainer.cacheIUs

![image](https://user-images.githubuse

[2022-05-27 14:24] #126 closed

[2022-05-28 05:16] merks opened #128 "The Reload button in the target platform Edit... wizard is a no-op"
This button does nothing:

![image](https://user-images.githubusercontent.com/208716/170811117-1b56d0ad-062b-4345-b36b-13702761b692.png)

It's implemented by org.eclipse.pde.internal.ui.shared.target.TargetLocationsGroup which has methods addTargetChangedListener and addTargetReloadListener.

The target editor calls org.eclipse.pde.internal.ui.editor.targetdefinition.LocationsSection.createClient(

[2022-05-29 20:00] HannesWell opened #130 "Bundles with osgi.ee filter for Java version 1.1 or 1.0 are not resolved"
Bundles that require the following capabilities are not resolved, neither in the Target-Platform nor in the workspace because such capability is not provided:
`Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=1.1))"`

![grafik](https://user-images.githubusercontent.com/44067969/170888312-01fd05a6-b468-4745-9037-9a9b32a289d2.png)

Using `version=1.0` does not resolve as well, while `

[2022-05-30 05:30] vik-chand opened #131 "Update tips and tricks for 4.24 in PDE"
Update T&T document with relevant items from N&N document.

To be validated with http://validator.w3.org/#validate_by_input before releasing

[2022-05-30 06:27] merks commented on #130
As far as I can tell, the following on the release train resolve to such older versions:

![image](https://user-images.githubusercontent.com/208716/170929384-7726a1e6-e2d4-4f7b-8c4c-45e61eeb51e0.png)

But the a.jre.javase IU(s) must be present to provide those capabilities.

The Oomph bundle has this as the BREE:
[code]

In your case, which repositories are present and do they provide the a.jre.ja

[2022-05-30 06:38] #131 closed

[2022-05-30 07:25] HannesWell commented on #130
Thanks for that hint. Which view is the screenshot from?

I'm using the m2e target-platform:
https://github.com/eclipse-m2e/m2e-core/blob/master/target-platform/target-platform.target

Simply adding unit `a.jre.javase` did not help here.

But I noticed that according to Oomph's Repository explorer view (besides many others) the m2e-release repos provide the `osgi.ee` `JavaSE` version 1.0.0 and 1.1

[2022-05-30 07:48] merks commented on #130
Sorry, the view I show is work-in-progress analysis tools that will be part of this:

https://github.com/eclipse-cbi/p2repo-aggregator

I tried to reproduce the issue but was not able to do so.  Here I've resolved exactly a copy of the TP in your link without a problem:

![image](https://user-images.githubusercontent.com/208716/170943135-f18c0150-4207-42df-b7cf-f9cdc85dc17e.png)

[2022-05-30 07:58] HannesWell commented on #130
Ah Thanks. The reason I'm asking is that such detailed analysis is difficult with standard-PDE views and there are three different views in PDE to show the bundles in the TargetPlatform: `Target Platform State`, `Plug-in Registry` and `Plugins` view that all offer slightly different information. And I think it would be good to merge them into one, maybe even with the Features view, and to enhance

[2022-05-30 08:20] merks commented on #130
The analysis tool depends significantly on the very cool infrastructure in the aggregator repository so it would not be easy to "move" this to PDE.   In the end. such analysis is primarily p2 functionality, not PDE functionality...

I'm not sure if the outcome could be affected by the JRE/JDK being used.  It should depend purely on what p2 metadata is available.  I'm my case I was using C:\Program

[2022-05-31 10:07] jukzi opened #132 "NoSuchElementException BundleLauncherHelper.getSelectedModels"
I do not know yet how to reproduce, but i will try to find out. Sometimes after closing a project this exception occurs:

[code]

[2022-05-31 11:33] HannesWell commented on #132
Duplicate of #88

This was fixed with #93 and is available with the latest RC builds and will be in 2022-06.

[2022-05-31 11:33] #132 closed

[2022-05-31 11:33] HannesWell commented on #132
This was fixed with #93 and is available with the latest RC builds and will be in 2022-06.

[2022-05-31 14:32] vogella opened #133 "java.lang.NullPointerException: Cannot invoke "org.eclipse.pde.core.plugin.ModelEntry.getWorkspaceModels()" because "entry" is null"
In
Eclipse SDK
Version: 2022-06 (4.24)
Build id: I20220530-1800
OS: Windows 10, v.10.0, x86_64 / win32
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.2+8
Java version: 17.0.2

I see the following entry in my log.

java.lang.NullPointerException: Cannot invoke "org.eclipse.pde.core.plugin.ModelEntry.getWorkspaceModels()" because "entry" is null
	at org.eclipse.pde.internal.launching.sourc

[2022-05-31 14:33] vogella commented on #133
@HannesWell can you have a look? Sounds related to https://github.com/eclipse-pde/eclipse.pde/pull/93

[2022-05-31 14:34] vogella commented on #133
I get this while running JUnit Plug-in Tests for WindowBuilder

![image](https://user-images.githubusercontent.com/139910/171199458-b543a396-b41d-43dd-a8d6-4a3920c713a4.png)

[2022-06-01 07:33] merks commented on #133
This very old code seems to assume that the entry can never be null which is apparently a bad but very old assumption:

![image](https://user-images.githubusercontent.com/208716/171351677-81f43b01-69e7-4179-bf89-ee4728203b48.png)

[2022-06-01 12:41] #128 closed

[2022-06-01 22:36] HannesWell commented on #133
Yes a simple null-check should fix the problem.

[2022-06-02 20:24] HannesWell commented on #68
I think this can be simply solved by excluding not resolved plug-ins when launching all plugins.
But at the moment I'm struggling to verify the fix locally.

If I use `Eclipse-PlatformFilter: (& (osgi.ws=win32) (osgi.os=win32) (osgi.arch=x86_64))` in a fragment on my windows computer it resolves successfully and if I change one argument e.g. to linux/gtk the resolution in the workspace fails due t

[2022-06-05 08:13] HannesWell opened #140 "Treat 'Require-Capability: osgi.ee' as equivalent to 'Bundle-RequiredExecutionEnvironment'"
If a bundle declares a `osgi.ee` capability like `Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=1.7))"` but no `Bundle-RequiredExecutionEnvironment` but no `Bundle-RequiredExecutionEnvironment` the Manifest-Editor creates a warning about a missing execution environment and shows an empty List of EEs.

But BREE is deprecated by the OSGi spec:

http://docs.osgi.org/specification/os

[2022-06-07 05:31] vik-chand opened #141 "[19] Ensure PDE export works OK for a plugin project with Java 19"
Ensure PDE export works OK for a plugin project with Java 19

[2022-06-07 05:40] #141 closed

[2022-06-08 08:34] HannesWell commented on #90
@pzi-dsa can you verify with the next I-build of 4.25 aka. 2022-09 if the issue is fixed with that change?

[2022-06-08 09:31] vogella opened #145 "Error logged from API Tools Core: Component in baseline is disposed"
I see lots of Component 'Eclipse Workbench' in the baseline 'workspace' is disposed in my Error log

![image](https://user-images.githubusercontent.com/139910/172583700-39812fb9-6012-4f03-86fb-2d73c2b04d55.png)

[2022-06-08 09:36] vogella commented on #145
Eclipse SDK
Version: 2022-06 (4.25)
Build id: I20220607-1940
OS: Linux, v.5.15.0-33-generic, x86_64 / gtk 3.24.33, WebKit 2.36.3
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.3+7
Java version: 17.0.3

[2022-06-08 10:02] laeubi opened #146 "Show of packages / bundles that are already imported."
One really annoying feature is that PDE hides bundles/packages if they are already imported.

This leads to strange behavior, e.g. I can't import a package if it is (transitively) imported and even worse the search is simply empty.

It would be good if PDE at least shows the package (maybe with a hint: already imported by...)

[2022-06-08 13:35] akurtakov commented on #102
It's Java 1.3 in the newest versions of these profiles, javac can no longer even build such bytecode anymore. I don't see anyone doing any 1.3 development anymore thus I consider it useless. The far more likely to be used ones like JavaSE 1.2....9 are already removed via https://github.com/eclipse-pde/eclipse.pde/commit/cecda9b81e0c60294ebd496c5921b454ade82b41 with no one noticing but keeping the

[2022-06-08 13:39] akurtakov commented on #102
@merks Do I get it correct that your concern is more that Oomph setup files will have to be changed to no longer require that feature? EEs are completely usable without that feature for a good number of releases already.

[2022-06-08 14:14] akurtakov commented on #102
I'll take care of removing it from the repos I have access to (aka everything but JDT).

[2022-06-08 14:18] vogella commented on #102
I can take PDE and https://github.com/vogellacompany/eclipse.platform.ui/pull/new/api.tools.ee.feature

[2022-06-08 14:23] vogella commented on #102
@akurtakov already did it for PDE. Fast are you Jedi.....

[2022-06-08 14:26] merks commented on #102
@vogella  Thanks!  @akurtakov You're the best!!

[2022-06-08 15:35] #102 closed

[2022-06-09 08:00] vogella opened #149 "Prefer usage of dialogs without ? for confirmation dialogs in PDE"
Using a ? icon for confirmation dialogs is not recommended in the lateset UI guidelines for Mac and Linux and I do not see that used in Windows.

![image](https://user-images.githubusercontent.com/139910/172815016-b54120b2-72b3-4ce7-b7dc-a4b97a19ce35.png)

References:
https://developer.apple.com/design/human-interface-guidelines/components/presentation/alerts/
https://developer.gnome.org/hig/patte

[2022-06-09 08:32] merks commented on #149
I'm not sure I follow what these links are suggesting nor what changes you are actually suggesting.

I do wonder how those recommendations correspond to these guidelines

https://wiki.eclipse.org/User_Interface_Guidelines

Will this approach/change make PDE different from say JDT or the Platform and all the other projects?

[2022-06-09 08:38] vogella commented on #149
The way we currently work is that we start somewhere and continue improving.

[2022-06-09 08:43] merks commented on #149
That doesn't answer the question though.   Could you explain the improvement, perhaps with a specific example of what you plan to change so that someone other than you can understand what you plan to do and what you consider an improvement.   After all, if it's an improvement, everyone should do it and then everyone is likely to have an opinion about it...

[2022-06-09 09:16] merks commented on #149
This is pure native Windows 10:

![image](https://user-images.githubusercontent.com/208716/172810861-2cf04a7a-b05d-43e1-ba81-7b65018ea823.png)

This uses a question mark.  So if this were PDE, it would be changed how?   One doesn't normally say yes/no in response to a statement but rather in response to a question, which is generally terminated by a question mark.  So is just the question mark rem

[2022-06-09 09:20] vogella commented on #149
The issue is only to remove the ? mark from the dialog which is not included in the WIndows UI guidelines (I finally found it): https://docs.microsoft.com/en-us/windows/apps/design/controls/dialogs-and-flyouts/dialogs

Yes / No dialogs are still fine even though I think action orientated buttons are preferrable.

[2022-06-09 09:21] akurtakov commented on #149
The goal should be to use SWT's MessageBox directly as it already follows the underlying OS guidelines and thus Eclipse shows dialog that doesn't differ from what rest of the apps on the system show.

[2022-06-09 09:22] vogella commented on #149
Screenshot from the UI guidelines of Microsoft.

![image](https://user-images.githubusercontent.com/139910/172813320-91d1c25a-c4d7-465d-bb60-3f9f87268e0b.png)

[2022-06-09 09:25] merks commented on #149
That dialog has three question marks. Is that bad?

[2022-06-09 09:28] akurtakov commented on #149
Our goal should be to defer to the OS as SWT was initially designed - "The primary design goals are high performance, native look and feel, and deep platform integration. "

[2022-06-09 09:52] merks commented on #149
I see now where the wires got crossed! Thanks for clarifying.

[2022-06-10 08:23] vogella opened #152 "Bundle-RequiredExecutionEnvironment is deprecated and should not be used"
Bundle-RequiredExecutionEnvironment is deprecated in the OSGi spec (see http://docs.osgi.org/specification/osgi.core/7.0.0/framework.module.html#framework.module.bree) but PDE still actively adds this and uses it for the creation of new plug-ins.

Should be update PDE to use the non-deprecated version or is this just to much work with additional value?

[2022-06-10 08:41] pzi-dsa commented on #90
I tried it with I20220609-1020 and the problem no longer shows up. Even with the corrupted workspace, the error corrected itself after closing and re-opening the target editor.

Thanks you all for your feedback!

[2022-06-10 08:41] #90 closed

[2022-06-10 08:51] HannesWell commented on #152
Isn't this a duplicate of https://github.com/eclipse-pde/eclipse.pde/issues/140?

Before a discussion is started I suggest to choose one of both issues to not split it up.

[2022-06-10 09:38] vogella commented on #152
Marking a dup of #140

[2022-06-10 09:38] #152 closed

[2022-06-13 06:29] #123 closed

[2022-06-15 05:09] #12 closed

[2022-06-15 11:56] vogella opened #158 "Starting a runtime Eclipse shows a validation error for org.apache.xml.resolver"
I'm using Eclipse SDK
Version: 2022-06 (4.25)
Build id: I20220613-1800
OS: Windows 10, v.10.0, x86_64 / win32
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.3+7
Java version: 17.0.3

and starting a runtime Eclipse via org.eclispe.pde.ui show the following validation error

![image](https://user-images.githubusercontent.com/139910/173821263-746725b3-2630-4a0b-9813-529694e39549.png)

[2022-06-15 12:00] merks commented on #158
Sounds related to this:

https://github.com/eclipse-pde/eclipse.pde/issues/130

[2022-06-15 12:56] vogella commented on #158
Thanks @merks

dup of #130

[2022-06-15 12:56] #158 closed

[2022-06-16 13:13] vik-chand opened #159 "Don't list target files that are directly added in a target (.target file) while adding"
Don't list target files that are directly added in a target (.target file) while adding

[2022-06-17 06:04] laeubi opened #161 "[target] tries to perform P2 install phase on resolve of the target platform"
Migration of [Bug 536467](https://bugs.eclipse.org/bugs/show_bug.cgi?id=536467):

I have created a feature that defines a install instruction via p2.inf as follows:

instructions.install=org.eclipse.equinox.p2.touchpoint.eclipse.chmod(...)

I now upload this feature to a P2 Updatesite so it can be used by other parts of the software.

The Problem is, as soon as I add the updatesite to my target de

[2022-06-17 08:08] HannesWell commented on #38
When reworking/enhancing the DS support in PDE, I wonder if we should use BND internally to create the service's xml-files.
Then updates like requested in https://github.com/eclipse-pde/eclipse.pde/issues/36 should be simpler.

I have not yet investigated which module of bnd is doing that, but given that m2e uses bnd.lib any ways it is already in the SimRel.

[2022-06-17 08:09] laeubi commented on #38
You can take a look at the DS support of tycho to get an idea how to use the BND-lib.

[2022-06-17 08:29] vik-chand opened #163 "PR validation fails in 4.25 for any pde change"
https://github.com/eclipse-pde/eclipse.pde/pull/162

13:56:16  [INFO] BUILD FAILURE
13:56:16  [INFO] ------------------------------------------------------------------------
13:56:16  [INFO] Total time:  05:55 min
13:56:16  [INFO] Finished at: 2022-06-17T08:26:11Z
13:56:16  [INFO] ------------------------------------------------------------------------
13:56:16  [ERROR] Failed to execute goal org.

[2022-06-17 08:30] vik-chand commented on #163
See  https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/PR-162/1/ for the full log

[2022-06-17 08:30] vik-chand commented on #163
@sravanlakkimsetti @akurtakov  Any idea on what is happening here

[2022-06-17 08:35] akurtakov commented on #163
No idea for now.

[2022-06-17 08:40] HannesWell commented on #38
Thanks for the link.

Of course but we would at least have saved one part.

[2022-06-20 07:02] laeubi opened #166 "osgi.bundles.defaultStartLevel is ignored when PDE creates a launch config"
I have a product where is set the `osgi.bundles.defaultStartLevel` (e.g. `-Dosgi.bundles.defaultStartLevel=5`)

When I now choose Run from the product, it creates a launch config with start level 4 on the plugins tab.

[2022-06-20 07:30] laeubi opened #167 "PDE product editor does not retain plugin order in the configuration section"
Currently plugins are reordered from the XML representation.

[2022-06-20 10:14] vik-chand commented on #163
Something similar here https://www.eclipse.org/lists/cross-project-issues-dev/msg18207.html

[2022-06-20 10:29] merks commented on #163
These two files are were the jar signing information is encoded, so if there is a comparison between a base signed jar and a new "same" jar, except not signed, then this would be the result...

[2022-06-20 10:55] iloveeclipse commented on #163
Same as JDT problem? https://github.com/eclipse-jdt/eclipse.jdt.core/issues/132

[2022-06-20 11:04] iloveeclipse commented on #163
What if there were signed by a different certificate? Like in https://github.com/eclipse-jdt/eclipse.jdt.core/issues/148?

[2022-06-20 11:42] merks commented on #163
Then it should complain that the contents of those files different.  But in that issue the problem is (I think) that a given Java package is split across multiple bundles and those two bundles have different signers.  One will be older using the certificate that expired in May and the other will be newer using the new certificate issued in May.

[2022-06-20 23:09] HannesWell commented on #167
Noticed that as well (a while ago).
The reason is that a HashSet is used to maintain them. I have already a half finished commit locally, so I can take care of this.
But there are a few more flaws in the editor. For example repo-references also sometimes get duplicated.

[2022-06-21 04:39] laeubi commented on #167
One flaw after the other ;-)

Using a `LinkedHashMap` sound reasonable

:+1:

[2022-06-21 05:47] laeubi opened #169 "[target] resolve the ${target_home} variable to the current target in a target context"
This is transferred from [Bug 578429](https://bugs.eclipse.org/bugs/show_bug.cgi?id=578429)

${target_home} in eclipse resolves to the location of the 'current' target platform.

This makes the use of this *inside* a target definition a bit strange as one has:

1) open the target and set it as active (${target_home} resolves to none or invalid location)
2) reopen the target, (now ${target_home} po

[2022-06-21 07:43] vogella opened #170 "Retire some exception environments MANIFEST.MF editor"
Do we still support of of the listed excecution environments for the BREE?
If not, we should retire the onces not, if yet, we should close this issue.

cc @akurtakov

![image](https://user-images.githubusercontent.com/139910/174744222-b5aa1d0b-a1bf-480d-869f-d3de1a043d89.png)

[2022-06-21 07:55] ruspl-afed commented on #170
Hi @vogella
What do you mean by "support" here?

[2022-06-21 07:57] akurtakov commented on #170
PDE no longer ships api tools definitions for OSGi minumum/CDC. ECJ still supports Java 1.1 or 1.2 not sure. Equinox ships profiles for these https://github.com/eclipse-equinox/equinox/blob/master/bundles/org.eclipse.osgi .
So the real question here is should PDE still offer these in various places? Aka does it make sense to develop for e.g. pre-1.5 JVM and do everything function in such cases.

[2022-06-21 07:59] vogella commented on #170
Do we still support development for all of these excecution environments? See @akurtakov answer.

[2022-06-21 08:08] ruspl-afed commented on #170
The question is: What will stop working if we remove pre-1.5 JVM support from PDE?

[2022-06-21 08:18] jarthana commented on #170
When you say "develop for", did you mean the users developing their software or the PDE development? If it's the former, which IMO is what matters, we may not be right people to make that call.

[2022-06-21 08:52] vik-chand commented on #170
This is coming from jdt.debug
In org.eclipse.pde.internal.ui.editor.plugin.ExecutionEnvironmentSection
[code]

[2022-06-21 10:10] vogella commented on #170
Ok, so nothing to do here for PDE.

[2022-06-21 10:10] #170 closed

[2022-06-21 10:35] akurtakov commented on #163
https://github.com/eclipse-pde/eclipse.pde/pull/171 worked out without issue so looks like things are fine now.

[2022-06-21 10:40] Bananeweizen opened #172 ".product editor outline does not react to sort button"
The outline of the product file editor does not correctly sort items when the sort button is pressed.
<img width="352" alt="image" src="https://user-images.githubusercontent.com/406876/174780875-0300cac8-dad2-4efe-be76-f94fef8cbaae.png">

[2022-06-21 12:24] Bananeweizen commented on #172
No. That specific outline page actively ignores sorting by implementing a no-sort.

[2022-06-21 13:54] jukzi commented on #64
to reproduce: add PDEs "External Plug-in Libraries" project and close/open a project. During the Notifcation the workspace is locked. The update of the PROXY should be scheduled for another job.

[2022-06-21 17:32] HannesWell commented on #170
What do you think about reversing the order of the list?
Then the new BREEs would be listed more prominent at the top and the old ones 'automatically' go down the list over time.

[2022-06-21 23:12] HannesWell commented on #172
Link to the PR did not work...

Fixed via https://github.com/eclipse-pde/eclipse.pde/pull/173.

[2022-06-22 04:46] Bananeweizen commented on #172
Thanks for mentioning that. I've done this multiple times now, and I have the feeling that it doesn't work at all when put inside braces. I'll try to remember using something like "actual message - fixes number" next time.

[2022-06-22 08:15] HannesWell commented on #172
Putting  #<issue-number> in braces does not work from my experience as well. But what worked from my experiance is to write "Fixes" or "Resolves" followed by the full issue URL into the commit message. This also has the nice side-effect that you can find the issue more easily since you can just click on the link.

Nevertheless according to the doc (https://docs.github.com/en/issues/tracking-your-w

[2022-06-22 08:31] jukzi opened #175 ".exsd Schema file written by PDE: Cannot resolve the name 'serviceFactory'"
open
`eclipse.platform.ui\bundles\org.eclipse.ui\schema\services.exsd`
=> the XML language server produces 2 errors:
`src-resolve: Cannot resolve the name 'serviceFactory' to a(n) 'element declaration' component.	services.exsd	/org.eclipse.ui/schema	line 31	Language Servers
`
[code]
is that a "problem" of PDE or Language server?

The issue that developers complain about: as soon as the editor is c

[2022-06-22 08:32] jukzi commented on #175
![image](https://user-images.githubusercontent.com/51790620/174982777-12561849-b98c-4c1f-aa2b-09e0f27ba6fc.png)

[2022-06-22 10:30] vogella commented on #149
Done for all dialogs I regulary see, will open new PR if I see others which can be updated.

[2022-06-22 10:30] #149 closed

[2022-06-22 13:19] #159 closed

[2022-06-22 17:18] habbit-baggins opened #178 "Bad value of osgi.install.area in config.ini causes issues in latest JDK11"
I have a run-of-the-mill RCP application with a plugin and a product. When launching it from inside Eclipse, the launch configuration created automatically by PDE from the product Overview &rarr; Testing view *fails* on JDK 11.0.15 (the latest version now on [Adoptium](https://adoptium.net/temurin/releases/?version=11)) with the message:

`C:\workspace\.metadata\.plugins\org.eclipse.pde.core\platf

[2022-06-22 17:21] habbit-baggins commented on #178
Other notes:
* I have not tested either on JDK17 or on any non-LTS version, as my product is Java 11-based
* I discovered this by chance, as I had my machine reimaged and after reinstalling my dev environment, things would simply not work, while a mate's nearly identical configuration did. The only difference was the JDK.

[2022-06-23 05:24] vik-chand commented on #159
verified on
Version: 2022-06 (4.25)
Build id: I20220622-1800

[2022-06-23 07:15] HannesWell commented on #175
I suspect that is a problem of the language server.

[2022-06-23 09:26] iloveeclipse opened #179 "Launch validation shows "Missing constraint JavaSE 1.1" error for org.apache.xml.resolver"
1) Have latest SDK with Webtools installed additionally (so we have org.apache.xml.resolver in the platform).
2) Right click and run /org.eclipse.jdt.debug.tests/tests/org/eclipse/jdt/debug/tests/launching/ConfigurationEncodingTests.java as Eclipse JUnit test.
3) First execution works without validation errors, ignore test results.
4) Go to the created launch config, change any setting (I've just

[2022-06-23 09:37] akurtakov commented on #179
Which Java version do you run on ?

[2022-06-23 09:39] iloveeclipse commented on #179
Note: org.apache.xml.resolver bundle has this attribute set in manifest: Require-Capability: osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=1.1))"

[2022-06-23 09:55] akurtakov commented on #179
My guess would be that because in the past BREE was J2SE-1.1/1.2.... mapping it to JavaSE-1.1 is missing somewhere when coming from capability. This comes from https://git.eclipse.org/c/orbit/orbit-recipes.git/commit/?id=76a5833e3dd93960c84a3026a0f14d27bd623b09 . While it's clear bug somewhere in PDE/Equinox retrospectively mapping like this is quite a stretch . If it's up to me I would ask why is

[2022-06-23 10:02] HannesWell commented on #179
The indicated error seems to be related to https://github.com/eclipse-pde/eclipse.pde/issues/130, which is an error I see in my m2e workspace for a while already.

The changes in the launch config are probably because it is created without writing default values into the config.
But in contrast to the part of the code that creates the launch config, the editor seems to write default values once yo

[2022-06-23 11:42] merks commented on #179
Yes, this sounds like a dup.  I see this exact problem too.

[2022-06-23 22:37] HannesWell commented on #179
As suspected the reason for the changing behavior is that previously the JUnitWorkbenchLaunchShortcut did not set a value for AUTOMATIC_VALIDATE when creating a new test launch-configuration. JUnitLaunchConfigurationDelegate then used the default of false when a that new JUnit Plug-in Test launch config was launched (usually immediately). But when that config was opened in the 'Run/Debug configura

[2022-06-23 22:52] HannesWell commented on #68
Created PR https://github.com/eclipse-pde/eclipse.pde/pull/181.

[2022-06-23 23:05] #167 closed

[2022-06-24 06:05] vik-chand opened #183 "Don't add duplicate locations in the target editor"
Right now it is possible to add duplicate directory container, feature container,target reference etc. If the location
is already added, it should not be added again

[2022-06-24 11:27] #183 closed

[2022-06-24 17:28] laeubi opened #185 "[product launch] element cannot be mapped to a null key"
@HannesWell I try to build a product for m2e with just the m2e features using the new automatic added dependencies, but this currently fails with:

[code]

Product file:
[code]

[2022-06-25 07:45] HannesWell commented on #185
This happens at:
https://github.com/eclipse-pde/eclipse.pde/blob/3f49bb4055be34cfc3323af341e6f37b49d01484/ui/org.eclipse.pde.launching/src/org/eclipse/pde/internal/launching/launcher/BundleLauncherHelper.java#L247

From the error message that location I strongly suspect that there is a Feature in your Workspace or Target-Platform whose Id is `null`. At this point all Features in the TP and workspa

[2022-06-25 07:51] laeubi commented on #185
No idea how this happens, but I have a lot of stuff in my workspace and some for debugging, maybe a project that currently has compile errors is causing this.

Neverless I think a warning that prints the location of the offending feature would be suitable here.

[2022-06-25 08:06] HannesWell commented on #185
Very likely. I was able to reproduce the failure by accident when I just tried to launch an Eclipse from my PDE workspace to test good error message from my PDE workspace after I created a flawed feature:

![grafik](https://user-images.githubusercontent.com/44067969/175764538-4a93f813-d67a-47c9-9160-de72c0a4f4b1.png)

Yep, I'm looking for a good message. I think the location should still be availa

[2022-06-25 17:58] #185 closed

[2022-06-28 06:02] vik-chand opened #187 "If a file or directory doesnt exist while adding a target, make it an error"
While trying out scenarios, few times, I added them which later turned over to be an error in the target editor.
Disable finish button is probably good to have but just setting error may be good enough.

[2022-06-28 08:26] laeubi commented on #130
I can only repeat from the tycho discussion, I don't think that is `(&(osgi.ee=JavaSE)(version=1.1))` nor 1.2 would valid according to http://docs.osgi.org/reference/eenames.html it has to use the name `J2SE` vor versions prior to 1.6.

[2022-06-28 08:53] jcompagner commented on #130
and i think for 1.1 we even need JRE not J2SE, if i look at the profile list in the osgi jar of eclipse:

![image](https://user-images.githubusercontent.com/3274268/176137431-38cb8d82-d707-43fa-8e86-088da62ff8b8.png)

[2022-06-28 08:55] laeubi commented on #130
Actually it does not makes any sense given that Eclipse requires Java 11 (!) to put any effort in to declare a EE of any Java 1.x so simply using JavaSE-1.8 would be sufficient.

[2022-06-28 09:42] merks commented on #130
The bundles involved are ones that could be used in any OSGi environment, so not supporting something that is a valid OSGi constraint seems questionable...

[2022-06-28 09:45] laeubi commented on #130
Then they should use `EE=OSGi/Minimum` anyways Orbit is for supporting **Eclipse Projects** and as soon as you show me the eclipse project still running on Java 1.1 there might be a "Question" otherwise its just a theoretical "support" without any value...

[2022-06-28 10:01] iloveeclipse commented on #130
I think this is generated automatically, at least for my case of `org.apache.xml.resolver`.
If I see it right, from https://git.eclipse.org/c/orbit/orbit-recipes.git/tree/apache/org.apache.xml.resolver_1.2.0 :

In generated MANIFEST.MF inside  `org.apache.xml.resolver 1.2.0.v20220401-1849` note the `Created-By` and version date:
[code]

So questions:
1) who is `Eclipse Bundle Recipe Maven Plug-in`

[2022-06-28 10:12] laeubi commented on #130
Well, PDE don't care, Tycho don't care, OSGI don't care as 1.2 is a compatible replacement for 1.1... still **people** complain, that PDE emits a *warning* that `org.apache.xml.resolver` uses something that do not makes sense from its POV, that is requiring that you can run this bundle on Java 1.1 (!), so for sure one can now put additional effort in "supporting" Java 1.1 (Release date **February

[2022-06-28 10:17] laeubi commented on #130
This is to states what is the java runtime you need to start this bundle, so a bundle with incompatible EE (e.g. java 17 on java 11 framework) do not gets resolved and fails with missing classes, or incompatible class versions.

[2022-06-28 10:18] laeubi commented on #130
This seems link a Equinox specific extension to me.

[2022-06-28 10:38] akurtakov commented on #130
https://github.com/eclipse/ebr/tree/master/releng/maven-plugins

Should be asked at https://github.com/eclipse/ebr/issues

As per http://docs.osgi.org/reference/eenames.html JavaSE-1.1 is not valid BREE thus osgi.ee;filter:="(&(osgi.ee=JavaSE)(version=1.1))" is not valid one too. Why is a question for OSGi spec guys as none of us here can answer it. Equinox has it's specific workaround but it seem

[2022-06-28 11:37] jcompagner commented on #130
i can't believe that that apache xml will run at java 1.1 ;)

i didn't look but what java is it compiled against/with? my guess is that would be at least 1.7 maybe 1.6 ...

I know that it is needed to say which java runtime you need, but still, a lot of other jars that eclipse bundles (almost all) don't have that osgi.ee thing.. i think only some core eclipse plugins, but most "normal" plugin jars

[2022-06-28 11:46] laeubi commented on #130
It might just be that this particular jar is compiled with class version 1.1 but I haven't checked that.

Most eclipse jar still use the `Bundle-RequiredExecutionEnvironment` but that is deprecated.

[2022-06-28 21:01] HannesWell commented on #185
@laeubi can you please verify/confirm with the latest I-build or the upcomming 22-09 M1 that this issue is fixed?

[2022-06-28 21:02] HannesWell commented on #133
@vogella can you please verify this is fixed?

[2022-06-28 23:52] HannesWell commented on #130
Thank you guess for the heads up and the investigation.
Since the `osgi.ee` filter is invalid, I agree that this is not a PDE issue and will close it as invalid.

For my M2E I just locally added  `xerces:xercesImpl:2.12.2` respectively `xml-resolver:xml-resolver:1.2` via a Maven target and unfortunately both are not OSGi ready. I let the M2E Maven-target generate the OSGi Manifest.MF (which uses b

[2022-06-28 23:52] #130 closed

[2022-06-29 04:08] cdietrich commented on #179
see also https://issues.apache.org/jira/browse/FELIX-6547

[2022-06-29 06:46] iloveeclipse opened #189 "SourceTests.testBug206679_247198 fails since I20220628-1800"
After Jetty update SourceTests.testBug206679_247198 fails on all platforms.
[code]

https://download.eclipse.org/eclipse/downloads/drops4/I20220628-1800/testresults/html/org.eclipse.pde.build.tests_ep425I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html

[2022-06-29 07:16] akurtakov commented on #189
I think this is caused by the fact I touched the jetty feature and didn't bump version leading to some "mixture"

[2022-06-29 07:18] akurtakov commented on #189
I'll land https://github.com/eclipse-equinox/equinox/pull/67 and fire a build . Hopefully this will resolve the issue for the future.

[2022-06-29 07:23] jukzi opened #190 "NPE in RequiresSection"
i do not know how to reproduce. As far as i remember i edited MANIFEST.MF "Require-Bundle:" manually and started a full build. i had a little UI freeze before this error poped  up.

eclipse.buildId=4.23.0.I20220308-0310

[code]

[2022-06-29 13:11] vogella commented on #130
Or use direct M2E PDE integration for this library instead of the broken Orbit version.

[2022-06-29 13:13] laeubi opened #191 "[DS] PDE does not understand the logger construct from the spec"
See http://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#service.component-logger.support
[code]

the following is not understood by the current PDE-DS annotation processor but it complains:
[code]

[2022-06-30 10:57] akurtakov commented on #189
I can't find what's the cause here. As the help system and various builds work I'm leaning towards issue in pde.build. As I'm going on vacation I won't be looking at this one in the next 2 weeks.

[2022-06-30 11:57] #187 closed

[2022-07-01 10:18] sravanlakkimsetti opened #194 "Validation error when launching child eclipse"
We are getting this error
![image](https://user-images.githubusercontent.com/77106773/176875646-0fdfb7cd-251b-42f0-a8b9-a64d67f17281.png)

All these are for JDK packages.

Build information:
Eclipse SDK
Version: 2022-06 (4.25)
Build id: I20220630-1800
OS: Windows 10, v.10.0, x86_64 / win32
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.3+7
Java version: 17.0.3

Notifications: @SarikaSinh

[2022-07-01 11:46] sravanlakkimsetti commented on #194
These packages got added in Import-package directive in latest Jetty (version 10.0.11)

java.io,
java.lang,
java.lang.invoke,
java.net,
java.nio,
java.nio.channels,
java.nio.charset,
java.text,
java.util,
java.util.concurrent,
java.util.concurrent.atomic,
java.util.function,
java.util.regex,
java.util.stream,
java.util.zip,

[2022-07-05 05:58] vik-chand commented on #194
Happens 1st on 28th June build

gitlog of 28th

2022-06-28	[Build input for build I20220628-1800](https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/commit/91f2e35dc3387bb556a1d7ff26694e726ad9226e)	Eclipse Releng Bot
2022-06-28	[Build input for build I20220628-1040](https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/commit/1099db163dcc053d65ac432e952a5cfde34

[2022-07-05 06:02] vik-chand commented on #194
<img width="916" alt="image" src="https://user-images.githubusercontent.com/99390647/177259941-c86c6b8d-cc0e-4fc9-9196-9ccd7132d123.png">

[2022-07-05 06:16] vik-chand commented on #194
I removed the import packages of  comment#2 (by Sravan) in org.eclipse.jetty.http and that particular no longer is in the list of validation error.

Another issue is why org.eclipse.osgi.internal.resolver.UserState@492d0748 cant resolve import of java.io etc

[2022-07-05 06:21] vik-chand commented on #194
If I add "Import-Package: java.io" manually in manifest of pde.core, plugin validation give pde.core also as the offending plugin.

[2022-07-05 06:27] sravanlakkimsetti commented on #194
Shouldn't we resolve JDK libraries?

[2022-07-05 06:28] merks commented on #194
Yes, one really kind of needs the a.jre.javase IU (or equivalent there of) corresponding to the selected JRE of the launcher to verify that the required packages are really in the actual JRE.   But that's easier said than done.

[2022-07-05 07:10] vik-chand commented on #194
While resolving the bundle org.eclipse.jetty.http in ResolverImpl for org.eclipse.jetty.http

		if (!failed) {
			// Iterate thru imports of 'bundle' trying to find matching exports.
			ResolverImport[] imports = bundle.getImportPackages();
			for (ResolverImport resolverImport : imports) {
				// Only resolve non-dynamic imports here
				if (!resolverImport.isDynamic() && !resolveImport(resolverI

[2022-07-05 07:12] vik-chand commented on #194
The above is causing the resolve of org.eclipse.jetty.http to fail in OSGI.

[2022-07-05 07:13] vik-chand commented on #194
@tjwatson Can you provide your views on this?

[2022-07-05 07:47] laeubi commented on #194
This is an ancient (one can't really call it old anymore) bug in PDE, and to clarify this is not an Validation **error** but a **warning**, and it does not really require a a.jre.javase IU as this all can be derived from the selected JDK itself (and P2 already do that for the workspace JRE).

Can you show the exact error? This should only fail if using OSGi <= 6, at all as it is valid to import ja

[2022-07-05 07:53] laeubi commented on #194
That's really not that hard, Tycho uses the following to get all system-packages of a JVM:
https://github.com/eclipse/tycho/blob/master/tycho-core/src/main/java/org/eclipse/tycho/core/ee/ListSystemPackages.java

[2022-07-05 07:58] merks commented on #194
Yes, though that requires launching the JRE.   And in the end, I believe that JDT has already computed all the packages of each JVM so it's just a matter of creating an IU like the a.jre.javase IU with those package capabilities...

[2022-07-05 08:02] laeubi commented on #194
Probably yes :-)

I thin this is just relevant for P2, the problem is that PDE uses "old" OSGi API and that these packages are superposed to be exported by the system-bundle dynamically, so at least PDE must handle this and hopefully could finally throw away the java**x** is from JRE assumption so we can get better errors / warnings at the first place.

[2022-07-05 08:09] merks commented on #194
I'm just pointing out that "the system bundle information" must be the one that would be specified for the actual JRE of the launcher, not the one of the running IDE itself.

[2022-07-05 08:12] laeubi commented on #194
Yep, int this case it is actually the Target-JRE.

[2022-07-05 11:50] vik-chand commented on #194
See bug -> https://github.com/eclipse/jetty.project/issues/8265

[2022-07-05 11:54] vik-chand commented on #194
Notification @bjhargrave

[2022-07-05 11:57] HannesWell commented on #194
For those that are asking if these packages are generated intentionally (by BND), the answer is yes:
https://github.com/bndtools/bnd/issues/4348

[2022-07-05 12:00] laeubi commented on #194
There is nothing to fix see https://blog.osgi.org/2018/02/osgi-r7-highlights-java-9-support.html

[2022-07-05 12:00] merks commented on #194
Why should Jetty do this?  These days it's quite possible to use jlink to create reduced JREs which may not provide all the packages.  By declaring it needs a certain package it's ensuring that there won't just be class not found exceptions but rather that it's clear a certain package is needed and not present...

[2022-07-05 12:10] bjhargrave commented on #194
In OSGi Core Release 7, it became supported to import `java.*` packages when the code targets Java 9+. See <https://docs.osgi.org/specification/osgi.core/7.0.0/framework.module.html#framework.module-execution.environment>.

So Bnd supports this. An OSGi R7 framework when running on Java 9+ will export all the available `java.*` packages from the system bundle so any bundle importing `java.*` packa

[2022-07-05 12:14] HannesWell commented on #194
I can offer to try to fix this false positive validation error in the next days (for the current PDE).

... with this in mind it should be straight forward.

Anybody that is interested in having this fix in older versions is then free to backport it. :)

Just for curiosity, would this automatically be fixed if PDE migrates off Resolver-State in the `o.e.osgi.compatibility.state` fragment?

[2022-07-05 12:23] laeubi commented on #194
Have not checked this, but I think it is more that the current target platform state need to consider the packages of the selected target-jre instead. and not really related to the `o.e.osgi.compatibility.state`

[2022-07-05 12:49] vik-chand commented on #194
We should try to fix this in M1 since this is rather annoying validation error ( which kind-of suggests that the launch is not good) . If this is not fixed, we should also consider rollback of jetty update for M1.

[2022-07-05 14:49] laeubi commented on #194
I don't think this is needed, actually a Target hat a JVM and that has to be used instead of an individual per bundle.

[2022-07-05 23:04] HannesWell commented on #194
I created a minimal reproducer for this case and the first thing I noticed is that a Plug-in that has for example a `Import-Package: java.io` resolves without errors.
You can also check in the target-platform state view that the `o.e.jetty.http` bundle has no resolution errors (unlike for example the currently flawed org.apache.xml.resolver bundle, see https://github.com/eclipse-pde/eclipse.pde/is

[2022-07-06 03:10] laeubi commented on #194
Yes as mentioned the validation often shows some false-positives while it misses others, I think this is because it does not use the TargetState as is (what could e.g. contain lots of stuff not in the product) but computes a new closure of just the product content.

[2022-07-06 04:35] vik-chand commented on #194
Related issue -> Reported warnings may not be accurate because **org.eclipse.equinox.http.jetty has 1 resolution problems.**
See https://download.eclipse.org/eclipse/downloads/drops4/I20220705-1800/apitools/analysis/html/index.html
I have opened https://github.com/eclipse-equinox/equinox.bundles/issues/66

[2022-07-06 04:38] laeubi commented on #194
@vik-chand what do you expect equinox to do here? This sounds like an API-Tools problem...?

[2022-07-06 07:20] HannesWell commented on #194
My experience until know was that the validation only shows false-positive errors if the Target Platform State has resolution errors, like in https://github.com/eclipse-pde/eclipse.pde/issues/130. With the new automatic addition of requirements I never saw this dialog again, given that the Target-Platform-State was resolution error free. Therefore this was remarkable for me.
But maybe I just use s

[2022-07-06 09:24] #194 closed

[2022-07-06 09:34] vik-chand commented on #194
I have committed a workaround for M1. @HannesWell  please feel free to revert it if you have a fix or a better workaround.

[2022-07-06 09:37] vik-chand commented on #194
yes but it is not as general case as launching child eclipse.  If someone provides a fix/workaround , that will be good

[2022-07-07 11:22] vik-chand opened #201 "testBug206679_247198 fails since update to jetty 10.0.11"
Processing inclusion from feature org.eclipse.help: Bundle org.eclipse.equinox.http.jetty_3.8.100.v20211021-1418 failed to resolve.: Unsatisfied import package org.eclipse.jetty.http_[10.0.2,11.0.0). Unsatisfied import package org.eclipse.jetty.server_[10.0.2,11.0.0). Unsatisfied import package org.eclipse.jetty.server.handler_[10.0.2,11.0.0). Unsatisfied import package org.eclipse.jetty.server.se

[2022-07-10 15:05] laeubi opened #202 "Allow contribution of external javadoc and source locations"
Currently a plugin can contribute javadoc and/or source locations *inside* the plugin itself through the following extension points:

- org.eclipse.pde.core.source
- org.eclipse.pde.core.javadoc

this has the limitation that the javadoc+source must be embedded and known in advance. In some situations it would be required to provide external locations dynamically e.g.:

- maven has the concept of s

[2022-07-11 04:26] akurtakov commented on #194
@HannesWell are you working on this one ?

[2022-07-11 06:03] HannesWell commented on #194
Yes, I started to work on this but didn't find a solution how to fix that yet. I noticed that in the state for the TP  the Java packages are resolved, but not in the state for the validation.
At the moment I suspect that it has something to with that all available EEs are thrown in the validation state.

But I'm on vacation until Friday and plan to continue the work then.

[2022-07-11 10:01] laeubi opened #204 "[target] Support user variables inside targets"
Migration of [Bug 578431](https://bugs.eclipse.org/bugs/show_bug.cgi?id=578431)

Christoph Laeubrich CLA Friend 2022-01-28 08:10:11 EST

I think all of us are familiar with the maven construct where a property is defined in a pom that later on is overridden e.g. on the commandline.

PDE targets suffer from such a feature right now.

The proposal here is to extend the target XML format in the follo

[2022-07-13 08:06] laeubi opened #207 "[target] consider other locations in planner mode"
Currently in planner mode (if one selects include required software) PDE only takes into account other IU locations. It would be useful to either automatically or just always include content from other locations as well see for example tycho currently works this way and it becomes quite handy e.g. in combination with providing a missing bundle by a maven or directory target.

[2022-07-13 12:58] sravanlakkimsetti opened #208 "Backport request for https://github.com/eclipse-pde/eclipse.pde/issues/194 to R4_23_maintenance release"
With https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/397 we are upgrading jetty version in R4_23 to 10.0.11. With that we will have #194 appear on R4_23 branch.

Requesting back port to R4_23

[2022-07-14 12:15] laeubi opened #210 "WorkspacePluginModelManager: Comparison method violates its general contract!"
I got the following strange exception while editing a component:

[code]

I have no clue how to reproduce this, but post it here in the hope it will be usefull for someone or has an ide what could causing this...

[2022-07-14 12:18] iloveeclipse commented on #210
This is not strange, it is a bug. `VersionHashMap` users should never use keys that changes their object state (hashCode() / equals() should not rely on non final fields).
Obviously some object used as a key changed the state during sort().

[2022-07-14 12:25] iloveeclipse opened #211 "JUnit5SuiteExecutionTest fails since I20220713-1800"
3 JUnit5SuiteExecutionTest fail since I20220713-1800 on all platforms.

https://download.eclipse.org/eclipse/downloads/drops4/I20220713-1800/testresults/html/org.eclipse.pde.junit.runtime.tests_ep425I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html

[code]

[code]

[code]

[2022-07-14 12:25] iloveeclipse commented on #211
@mickaelistria : could you please check? I assume that is related to recent Orbit / Maven bundle replacements.

[2022-07-14 12:28] mickaelistria commented on #211
Yes, I think it's a transient issue that would hopefully be fixed with upstream work on JDT and https://github.com/eclipse-pde/eclipse.pde/pull/206 . Today is a holiday in France, but I may spend a hour on it later tonight. I hope to complete this story and have it fixed by tomorrow afternoon.

[2022-07-14 20:50] mickaelistria commented on #178
Do you think you could provide a patch to fix this issue?

[2022-07-15 07:12] mickaelistria opened #213 "[API Tools] @noextend on an interface seems ignored"
For example https://github.com/eclipse-platform/eclipse.platform.ui/pull/78#issuecomment-1184132749 , it looks like adding a `static final` field on an interface that is marked with `@noextend`+`@noinstantiate` still treats the addition as a possible breakage and requires a bump or an API filter.

[2022-07-15 09:24] greg-449 commented on #175
I'm getting this error on all the exsd files in my RCP.

It looks to me like the error message is correct and the exsd files written by the schema editor are invalid.

The message is saying `element ref="serviceFactory"` is referencing an element in the XMLSchema namespace when what it is really trying to do is reference an element in the target namespace.

Playing around with this, adding a names

[2022-07-15 11:13] laeubi opened #215 "[API Tools] should support Declarative Services classpath additions"
The PDE(!) DS Plugin allows to set a flag to include the annotations without importing them:

**org.eclipse.pde.ds.annotations.prefs**:
[code]
but correctly fails execution if one do so see for example: https://ci.eclipse.org/platform/job/eclipse.platform.ui/job/PR-210/4/console

[2022-07-15 12:10] #211 closed

[2022-07-16 08:19] laeubi opened #216 "[API Tools] extra line break at end of message?"
I see the following in a build log
[code]
It seems there is a trailing new line in the message, this currently breaks automatic detection of API problems in GH action, it would be good if the message could be trimmed.

[2022-07-16 08:22] laeubi opened #217 "[API tools] output the full path of the file?"
Currently a message looks like this

The file (here /org.eclipse.e4.core.contexts/META-INF/MANIFEST.MF) is printed relative to the "workspace", for automatic tools detecting the issue an annotating files, it would be good to have a full path here, i'd like therefore suggest to include the full path in the attributes e.g. `filePath:  /full/path/to/plugins/org.eclipse.e4.core.contexts/META-INF/MANIF

[2022-07-17 11:50] HannesWell opened #218 "Check consistency of Plug-in, Project and Directory names"
For Eclipse Plug-in projects `Bundle-SymbolicName`, `Automatic-Module-Name`, project-name and the name of the directory containing the project are usually equal. Differences in those names often sneak in accidentally and are not wanted.

See for example: https://github.com/eclipse-equinox/equinox/blob/d31bae58ab5e6e4222baa6cf13f06c9f2f2b7577/bundles/org.eclipse.equinox.launcher.cocoa.macosx/.proje

[2022-07-18 06:00] laeubi commented on #213
@mickaelistria the interface org.eclipse.e4.ui.workbench.UIEvents is marked as noextend/implement, but the embedded type org.eclipse.e4.ui.workbench.UIEvents.UILifeCycle is not. This might be not intentional, but API tools is not to blame here.

[2022-07-18 08:30] iloveeclipse opened #219 "Component Definition Editor does not open for 1.4.0 spec version"
In IDE, pull https://github.com/eclipse-platform/eclipse.platform.resources/pull/167 PR and try to open [OSGI-INF/org.eclipse.core.internal.resources.ProjectEncodingPreferenceChangeListener.xml](https://github.com/eclipse-platform/eclipse.platform.resources/pull/167/files#diff-7bef30eb6822b8e7d33efabb08657f41b3d4e69c13b05f8b27af7a12a66c717e)

"Default" xnl editor opens.

Change now this line
[code

[2022-07-18 09:06] Phillipus commented on #194
I've just encountered this issue testing our RCP app against a target of the latest 4.25 I builds using Eclipse 4.24 as a host.

If I use the latest 4.25 I build as a host, there are no errors.

I'm not clear from the previous discussion if there is planned a change that will allow 4.24 to be used as host when targetting 4.25, or whether 4.25 will be required as host?

[2022-07-18 09:21] laeubi commented on #194
These are not errors, just warnings.

Simply click `Continue` button ...

[2022-07-18 09:46] Phillipus commented on #194
Yes, indeed.

Right. Or untick the launch configuration option `Validate Plug-ins automatically prior to launching`

[2022-07-18 10:35] #213 closed

[2022-07-18 23:40] HannesWell commented on #194
Created https://github.com/eclipse-pde/eclipse.pde/pull/221 that should fix this issue.
Verified it with the mentioned o.e.jetty.http and a workspace Plug-in with `Import-Package: java.io`.

[2022-07-19 08:44] laeubi commented on #69
R8 also defines the `org.osgi:org.osgi.service.feature` annotations:

- https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.feature.html#org.osgi.service.feature.annotation.RequireFeatureService
- https://blog.osgi.org/2019/07/new-osgi-work-features.html
- https://projects.eclipse.org/projects/technology.osgi/releases/1.0-feature-service

[2022-07-19 09:32] laeubi opened #223 "Copy Validation errors / suggest missing items to add"
Currently, if I validate a product I might get a tree of warnings, but the dialog is hard to use:

1. it is not resizable so one has to scroll
2. items are collapsed, so one need to expand them what really is missing
3. to adjust the product/features/target/... I need to close the dialog (and mostly have forgotten the exact cause...)
4. I need to find out by hand what might be required

I therefor

[2022-07-19 09:38] laeubi opened #224 "Confusing Buttons on Validation dialog"
Press the Validate button on a product that has missing requirements and you will end with an dialog that has two Buttons:

1. Continue
2. Cancel

Both buttons do the same, that is closing the dialog, and should better be replaced with one "Close" button
FYI @vogella as you care about UX lately...

[2022-07-19 10:06] sratz opened #225 "RequiredPluginsClasspathContainer::getClasspathEntries doesn't consider indirect dependencies"
This is a follow-up on https://bugs.eclipse.org/bugs/show_bug.cgi?id=534082 which is still a problem.

This causes issues when e.g. executing unit tests as plain JUnit test (without Eclipse platform running), where suddenly things are missing.

For more details see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=537603

[2022-07-19 10:57] noopur2507 opened #226 "Removing JUnit 5 Orbit bundles will cause errors for existing projects"
After removing Orbit bundles for JUnit 5 [PR#27](https://github.com/eclipse-jdt/eclipse.jdt/pull/27), the existing JUnit 5 clients will see errors as the bundle ids/names are now different.

Examples:

1. Create a plug-in project in a workspace using the 4.24 Eclipse build having JUnit 5 tests and bundle dependencies. Open that workspace with the latest I-Build. The bundles cannot be resolved and

[2022-07-19 10:57] noopur2507 commented on #226
cc @mickaelistria

[2022-07-19 11:08] mickaelistria commented on #226
Do I get it right that this is solely a target platform issue? Ie this case happens for projects that do use the current running IDE as target-platform (and don't have a .target that includes eg Orbit's variants of JUnit) ?

[2022-07-19 11:26] mickaelistria commented on #226
See https://github.com/eclipse-platform/eclipse.platform.common/pull/53 . As this page is usually referenced from the N&N document, should we duplicate the info in N&N ?

[2022-07-20 06:41] noopur2507 commented on #226
Yes, that's right. And this is the default in the IDE so many users will get these errors.

[2022-07-20 06:44] noopur2507 commented on #226
We should still have an N&N entry in the JDT page about JUnit 5 changes and we can add a link to this doc/section in that entry to avoid duplicating the content.

[2022-07-20 07:27] mickaelistria commented on #226
If this is only an issue about target platform, then it's more something to document in PDE N&N. I'm on it.

[2022-07-20 09:10] mickaelistria commented on #226
N&N doc added in https://github.com/eclipse-platform/www.eclipse.org-eclipse-news/commit/41afbd049e26be6ccc01e8dd351f59a6da5bef0f

[2022-07-20 09:10] #226 closed

[2022-07-20 13:50] vik-chand opened #228 "Replace ApiBaseline.getJavaProfilePropertiesForVMPackage() with TargetPlatformHelper.querySystemPackages(env)"
It removes the effort in adding system packages.

The following thing should work
- Launch with latest version without the corresponding system package
- Add API baseline.

[2022-07-20 18:07] HannesWell commented on #228
Sounds good. This will save use code and also avoids the need to maintain the `-systempackages.profile` files, which makes API forward-compatible automatically.

The only drawback I can currently think of is that the system-packages are not available if the installed VMs have a lower version that the code's EE. But then the code cannot compile and the API analysis is not necessary/possible anyways

[2022-07-21 03:48] vik-chand commented on #228
Let me check the scenario for which this was put. If that scenario works, then either you or I could remove.
The scenario is
1) The install should not have system package for Java 19
2) Launch that install with Java 19
3) Add API baseline. ( this should work)
Also system packages should be latest ( as per Java 19)

I will try it out in Y build. Currently Y build is failing else I could have checke

[2022-07-21 06:06] vik-chand commented on #208
Fixed using https://github.com/eclipse-pde/eclipse.pde/pull/229

[2022-07-21 07:37] merks commented on #178
Simply prefixing with "file:" is just plan bad given this is trying to create a URI and given that the location on Windows will contain \ and not / and will often be of the form c:\... where file:c:\... is not not a good file: URI, though perhaps the platform tolerates it anyway.   But the question is, where does a URI come from?  All the implementations except this one return file system paths:

[2022-07-21 09:12] habbit-baggins commented on #178
I am indeed, which itself was the cause of some grief in both [Tycho](https://github.com/eclipse/tycho/issues/652) and [PDE](https://bugs.eclipse.org/bugs/show_bug.cgi?id=577184#c24) in the recent past.

The issue I am seeing with Adoptium JDK 11.0.15 is precisely that _the runtime no longer tolerates it_, thus causing a crash inside the Equinox launcher. By contrast, JDK 11.0.14 and earlier do pa

[2022-07-21 09:24] merks commented on #178
I don't think anything ever tolerated file:file:... but the references target file is relatively new and I think the fact it returns a URI is fully the problem here.

@laeubi @vik-chand

My sense is that this is purely a new problem introduced by the target reference bundle container returning a URI for the location.  The 'blind" prefixing with file: seems bad already but prefixing what's already

[2022-07-21 09:30] laeubi commented on #178
Using `ITargetLocation.getLocation` is bad and schould be avoided, I can't even tell what this has to do here for a launch?

The Javadoc says:

Actually this requirement is already not holding true anymore, especially for referenced target locations that could even reference `http` or `maven` URLs...

[2022-07-21 09:58] Phillipus opened #230 "Nested target file location error with "file:" protocol"
Eclipse 4.24

I have two target files in a project `com.archimatetool.editor.product`. One is the main target and one is nested:

`archi.target`:

[code]

The nested target is:

[code]

However, when I attempt to launch the RCP app from Eclipse via its `product` file it fails to launch and error is written to log:

[code]

If I remove the `file:` protocol from the line `file:${project_loc:/com.arc

[2022-07-21 10:27] habbit-baggins commented on #178
[Per the blame](https://github.com/eclipse-pde/eclipse.pde/blame/642462b9223203d8f4087c850173325604fcbf91/ui/org.eclipse.pde.core/src/org/eclipse/pde/core/plugin/TargetPlatform.java#L69), that was changed in [bug 283731](https://bugs.eclipse.org/bugs/show_bug.cgi?id=283731). Previously it returned a location stored in the Eclipse preferences.

Regarding the Javadoc mention, both locations I found

[2022-07-21 11:40] merks commented on #178
@vik-chand Please given Vikas time to respond because what's being proposed in this last comment sound scary and very incompatible for anyone else implement this extensible API.   It's the more recently-introduced target location implementation that is inconsistent with the rest and is the one causing the problem.  Oomph also has target location implementation and it also returns a file system loc

[2022-07-21 11:41] Phillipus commented on #230
It has something to do with the order of the locations in the first `target` file. This one works:

[code]

[2022-07-21 11:42] merks commented on #230
This looks exactly like this issue:

https://github.com/eclipse-pde/eclipse.pde/issues/178

[2022-07-21 11:50] Phillipus commented on #230
@merks As per my comment above, maybe the order of the location in that issue could affect it?

[2022-07-21 11:57] merks commented on #230
Yes, I believe the analysis was that the first target location's location is used by this:

https://github.com/eclipse-pde/eclipse.pde/blob/642462b9223203d8f4087c850173325604fcbf91/ui/org.eclipse.pde.core/src/org/eclipse/pde/core/plugin/TargetPlatform.java#L66-L84

So yes, the order maters and it's only a problem if the target reference target location is first.

[2022-07-21 12:00] Phillipus commented on #230
OK, so maybe I should close this issue?

Is this the cause of #178, or is that something else?

[2022-07-21 12:06] merks commented on #230
Here I asked if he was using a reference target location and he answered that he was:

https://github.com/eclipse-pde/eclipse.pde/issues/178#issuecomment-1191242556

Though I'm doubtful that file:file: was ever tolerated.  I know all the other bad forms have been tolerated...

So yes, I'm sure this is a duplicate problem. FYI @vik-chand

[2022-07-21 12:47] Phillipus commented on #230
OK, I've read through #178 properly now and I understand that a change in `File.toURL` in JDK 11.0.15 throws an exception. If that were not the case (or using an earlier JDK 11 version) presumably the order of target locations would not matter?

[2022-07-21 12:51] vik-chand commented on #178
I am not sure when osgi.install.area is required. But if we have the 1st container of target as TargetReferenceBundleContainer, can we not look at the 1st container of the target definition of the TargetReferenceBundleContainer ( keep going on till we get a non-TargetReferenceBundleContainer and use that). Will that work? something like LaunchConfigHelper::getLocationForReferencedTarget

Is it pos

[2022-07-21 12:53] habbit-baggins commented on #178
Sorry, I didn't realize that this was something to be implemented outside PDE itself. Instead, we could keep the old method (possibly deprecated) and add a new one with a default implementation instead:
[code]

For implementations whose getLocation already returned normal local FS paths, the default implementation is good. The "nested targets" impl may want to override both:
* the new getLocationU

[2022-07-21 13:19] merks commented on #230
As I keep  mentioning, I don't think file:file: does, will, or ever has worked.  Also, this referenced target location is quite new and only with that do we end up with file:file:.  But I'm not sure what conclusion you wish to draw here?  That this problem is different than other problem?

[2022-07-21 13:22] merks commented on #178
No because a target definition might consist only of reference locations.

This one has a simple example:

https://github.com/eclipse-pde/eclipse.pde/issues/230

[2022-07-21 13:28] merks commented on #178
@habbit-baggins This latest suggestion sounds less scary, but note I believe the install location really must be a file: location in order to launch, so in the end the new getLocationUri could in principle return any old URI.  If it's specified it must return a file URI then it's kind of pointless to introduce a new method (or such an overly general one) rather than just make sure that the one new

[2022-07-21 13:31] laeubi commented on #178
This method should simply be removed, as it is completely nonsense, a target must not exits on a physical disk location at all, using the target "location" for any data-location in a launch or product makes also absolutely no sense, what do it has to do with [osgi.install.area](http://help.eclipse.org/2022-06/topic/org.eclipse.platform.doc.isv/reference/misc/runtime-options.html?resultof=%22%52%75

[2022-07-21 13:41] merks commented on #178
@laeubi You do realize that org.eclipse.pde.core.target.ITargetLocation.getLocation(boolean) is API, right?    Perhaps it's being misused and there is a better way, but perhaps we can just be pragmatic and try avoid the need to cool and warn the ocean...

[2022-07-21 13:44] laeubi commented on #178
@merks yes and you maybe realized that this is marked as `@noreference This method is not intended to be referenced by clients.` and its main purpose is to show a nice label to the user?

The only valid choice i could think of would be if there is exactly **one** location of type `Profile` and contains an eclipse.exe(cutable), so please don't blame implementations of that API for PDE doing obscure

[2022-07-21 14:00] Phillipus commented on #230
I think I'm mixing things up. :-)

For this issue, the JDK version is not relevant, as I just tested it. What is relevant is that the order of target locations is correct as you mention in https://github.com/eclipse-pde/eclipse.pde/issues/230#issuecomment-1191395085

Now that I have the local file target location second, the product launches, even with the `file:` prefix.

[2022-07-21 14:02] laeubi commented on #178
By the way I not really propose to remove it so no worries... But trying to"fix" the method is clearly the wrong coice and one should handle this as if it do not exits (as the `@noreference` indicates), so the location where bad things happen should be fixed instead. Looking at the code it is clear the the `Profile` location computes a real `osgi.install.area` (aka eclipse home) and the rest of th

[2022-07-21 14:16] merks commented on #178
Yes, I agree it's all kind of a hack.

Note that `@noreference` doesn't mean that PDE itself can't/shouldn't reference the method; just the clients.  I think the simplest fix is just to check if the string already starts with file: and just use it if that's the case.  That seems easiest and least disruptive, but that's just my opinion...

[2022-07-21 14:30] laeubi commented on #178
Simple is not always better, eg:

- IU Location returns the bundle-pool directory
- Directory location return the user specified directory
- Profile returns the path to an Eclipse home
- What should m2e  return, maybe the maven local repository?
- Target refrences return the URI specified by the user

None of them (except `Profile`) seem suitable for an `osgi.install.area` and just mean nonsense t

[2022-07-21 14:39] merks commented on #178
Indeed, simple is not always better.   Though a simple fix is better than no fix.  The perfect fix can always come later when someone has the time and the desire...

Anyway, there is quite a bit of theorizing here and that won't fix the problem either.  I can say though that the install location passed to the runtime is most certainly not nonsense to the target eclipse application and it will most

[2022-07-21 15:34] merks commented on #178
@laeubi  As I think more, I think you're right.  This is just broken.  A folder location is needed so using the URI return for a reference target (the location of the *.target file) is just not going to work either...

[2022-07-21 16:14] habbit-baggins commented on #178
I don't know enough about the inner workings of Equinox and the platform, to be fair. In my setup (vanilla Eclipse PDE launching an RCP product), the auto-generated `config.ini` that is used **while launching in dev mode** is indeed set to this nonsense "file:file:C:\xxx" value, and the RCP product _does_ launch and seems to work - unless using JDK 11.0.15.

Thus, I don't think that the _launcher_

[2022-07-21 16:39] laeubi commented on #178
`osgi.install.area` should point to "the installation" that is the usual stuff you see when you extract an eclipse product (eclipse.exe, plugins/, features/, ...) and this is what a `Profile` location suppose to provide. So if such a location is found, it seems valid to use that `ProfileBundleContainer.getLocation(true)` **if there is exactly one**! For all other location types is questionable tha

[2022-07-25 10:32] laeubi opened #232 "org.eclipse.pde.api.tools.tests has 611 failing tests with Tycho Surefire, nightly build is fine"
See https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/master/101/
and https://download.eclipse.org/eclipse/downloads/drops4/I20220724-1800/testresults/html/org.eclipse.pde.api.tools.tests_ep425I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html

Looks like all org.eclipse.pde.api.tools.builder.tests.compatibility tests are failing on Jenkins after this PR https://github.com/eclipse-pde/eclipse.pde/p

[2022-07-25 17:27] laeubi commented on #232
@mickaelistria @akurtakov any idea why API tools failing now?

[2022-07-25 17:30] akurtakov commented on #232
No idea. I pushed https://github.com/eclipse-pde/eclipse.pde/commit/b4ec281656556256554c6b4ab68870d014e8003e today so we are on the safe side but I haven't looked into more details.

[2022-07-25 17:37] merks commented on #232
Could this be related?

https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/419

[2022-07-25 17:41] laeubi commented on #232
@merks it is not that the API **check** is failing but the API tool **test** itself.

[2022-07-25 17:50] laeubi commented on #232
I triggered a new build now jsut in case it was something temporal... https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/master/

[2022-07-25 18:33] laeubi commented on #232
The log currently shows a lot of
[code]

[2022-07-25 18:49] iloveeclipse commented on #232
Just a hint, not necessarily the root cause.
They are printed since https://github.com/eclipse-jdt/eclipse.jdt.core/pull/239

[2022-07-25 19:25] iloveeclipse commented on #232
So now I would like to understand what's going on here, and why this innocent patch broke PDE tests on **Jenkins only** :  #235 ?!?

[2022-07-25 19:49] iloveeclipse commented on #232
I have an idea: the "var" could be differently resolved depending on dependencies on classpath? They may differ between official build and Jenkins one.

Let's see if #236 would be broken too.

[2022-07-25 20:14] iloveeclipse commented on #232
Same issue. So not the compiler to blame.
Next: the NPE that is supposed to be prevented is **required** for PDE tests to succeed ?!?

[2022-07-25 20:46] iloveeclipse commented on #232
YES !!!

See https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/PR-236/2/

OMG. What kind of ~~code~~ hack is it?

Note: I can't see system error printing I've added before throwing NPE, Jenkins seem to redirect it somewhere where it doesn't disturb anyone who runs tests. Makes sense, for sure.

[2022-07-26 03:54] laeubi commented on #232
Yes that was just an observation so "something" is wrong here when Tycho is passing the classpath to the compiler and should obviously not happen, I will check if I can get some better output from Tycho itself...

![The only valid measurement of code quality is WTFs/minute](https://i.redd.it/btd5aebzr5h01.jpg)
https://www.reddit.com/r/ProgrammerHumor/comments/7ym547/the_only_valid_measurement_of_c

[2022-07-26 04:33] #208 closed

[2022-07-26 08:49] vik-chand commented on #228
I will take this up in early M3

[2022-07-27 06:24] fbertini opened #238 "Cannot invoke "org.eclipse.pde.core.plugin.ModelEntry.getWorkspaceModels()" because "swtEntries" is null"
Hello everyone,

I have installed the latest Eclipse IDE version (today it is eclipse-jee-2022-06-R-win32-x86_64.zip) and I always get the following error hovering the mouse on the RUN/debug button on the toolbar.

Cannot invoke "org.eclipse.pde.core.plugin.ModelEntry.getWorkspaceModels()" because "swtEntries" is null

Notice that this is happening only when I am working on a JUnit4 class.

PDE Ve

[2022-07-27 06:30] iloveeclipse commented on #238
@fbertini : please attach here Eclipse error **log** (you can find it under <your workspace>./metadata/.log).

[2022-07-27 07:12] iloveeclipse opened #239 "API tools report error in Gerrit on test projects but not in SDK"
See https://ci.eclipse.org/platform/job/eclipse.platform.releng/job/PR-78/1/console

This PR https://github.com/eclipse-platform/eclipse.platform.releng/pull/78 shows errors because of API tools complaining in gerrit.

They were introduced in https://github.com/eclipse-platform/eclipse.platform.releng/pull/77 but PR was merged anyway.

However: there are ZERO API tools errors in SDK, I'm using lat

[2022-07-27 08:15] fbertini commented on #238
Please find attached log file as requested.
[log.zip](https://github.com/eclipse-pde/eclipse.pde/files/9196425/log.zip)

Thank you!

[2022-07-27 08:42] iloveeclipse commented on #238
[code]

[2022-07-27 08:44] iloveeclipse commented on #238
@HannesWell : looks like regression from commit d0a6e0fd8e217fc1f108d7585012aab8b9862369 / #110

[2022-07-27 09:30] HannesWell commented on #238
Thanks for the report.
Andrey you are right, I forgot to handle the null Case.

I can fix this in two weeks when back from vacation (only have my phone available).

If any of you want to fix it earlier, it should be sufficient  to pull up
`ModelEntry swtEntries = PluginRegistry.findEntry("org.eclipse.swt"); //$NON-NLS-1$` as first expression in the if-block and to return false if it is null. I can

[2022-07-27 09:48] iloveeclipse commented on #238
Thanks Hannes, see https://github.com/eclipse-pde/eclipse.pde/pull/240

[2022-07-27 10:44] #238 closed

[2022-07-28 07:57] mickaelistria commented on #232
Note that you can reproduce the issue locally with
[code]
and can even add the `-DdebugPort=8000` option to the Maven command to allow hooking a debugger to the test execution.

[2022-07-28 12:27] akurtakov opened #243 "org.eclipse.pde.ui.tests.classpathcontributor.ClasspathContributorTest fails in I-build"
Failure can be seen at https://download.eclipse.org/eclipse/downloads/drops4/I20220727-1800/testresults/html/org.eclipse.pde.ui.tests_ep425I-unit-cen64-gtk3-java11_linux.gtk.x86_64_11.html and message is:
[code]

[2022-07-28 15:03] iloveeclipse opened #244 "Not disposed image in RegistryBrowserLabelProvider"
Found in the log. I believe I've used Plug-Ins Eegistry view before.
[code]

[2022-07-28 22:45] mickaelistria commented on #232
Seems like everything is back to normal (eg #236 succeeds). I guess it was some issue upstream, for example in how encoding can now generate an error, or in some transitive dependency...

[2022-07-29 09:47] laeubi commented on #243
I'll try to propose a fix, but the master build seem not to execute the test (or it is not failing there):
https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/master/109/

[2022-07-29 13:10] gerking opened #249 "Resolve classpath of required bundle during Tycho Surefire tests"
(Issue imported from https://bugs.eclipse.org/bugs/show_bug.cgi?id=578744)

When running a plug-in test with the Tycho Surefire plugin, the combination of PDE/JDT fails to resolve the classpath of a plug-in project if its required bundles include the bundle under test. In this case (i.e., if the bundle under test is among the required bundles), its classpath resolves to the bundle root instead of

[2022-07-29 14:39] mickaelistria commented on #249
PDE is not at all involved when running tests in Tycho. Please report it to https://github.com/eclipse/tycho/issues

[2022-07-29 14:39] #249 closed

[2022-07-29 16:06] laeubi commented on #232
Still randomly occurs....

[2022-07-29 16:09] mickaelistria commented on #232
Can you please point to an example where this still happens?

[2022-07-29 16:10] laeubi commented on #232
See for example https://ci.eclipse.org/pde/job/eclipse.pde.ui/job/PR-248/1/ master build now fails with another test that indicates an API bundle was disposed, ...

[2022-07-29 16:18] mickaelistria commented on #232
Actually, it was never fixed. I looked at the wrong repo earlier...

[2022-08-01 05:05] vik-chand commented on #201
@akurtakov any ideas here?

[2022-08-01 05:59] akurtakov commented on #201
I haven't had time to look into it. My first guess is that pde.build doesn't support import of JVM packages like launching didn't support and pde.build (or tests) trims the output so that fact is hidden.

[2022-08-01 13:13] kwin opened #253 "Empty lines with whitespaces emitted when serializing target model"
Target files being serialized from the underlying model contain a lot of unwanted newlines and spaces, for example:

[code]

This is probably caused by using a `TransformerFactory` with `OutputKeys.INDENT` = `yes` in https://github.com/eclipse-pde/eclipse.pde/blob/4c70908ee72598b842903337348a4d96ce0e8260/ui/org.eclipse.pde.core/src/org/eclipse/pde/internal/core/target/TargetDefinitionPersistenceHe

[2022-08-02 05:30] #243 closed

[2022-08-02 06:07] laeubi opened #254 "org.eclipse.pde.core.tests.internal.WorkspaceProductModelManagerTest.testProducts_productAddedToDeriveFolderNestedInSrcFolder fails"
On some builds the test fails with a NPE, it should either be fixed, disabled or reworked to give a understandable reason why this particular test fails.

[code]

[2022-08-02 06:09] laeubi opened #255 "org.eclipse.pde.core.tests.internal.WorkspaceModelManagerTest.testDelete_projectWithChangedBundleRoot fails"
The test currently fails, it should be either fixed, disabled or give a reasonable cause why it fails, for example it is unclear why it "expected null":

[code]

[2022-08-02 06:14] laeubi opened #256 "org.eclipse.pde.api.tools.builder.tests.compatibility.ProjectTypeContainerTests ocasionally fails"
The test occasionally fails, it should either be fixed, disabled or given clear indication why it fails here:

[code]

[2022-08-02 08:03] vogella opened #259 "If I activate a target platform lots of http transport warnings are generated even though none are used"
I have the following target platform:

[code]
If I activate it, I get a lot of http should not be used warnings. Is this one of the caching issues in p2? Why are not listed updates sites used?

![image](https://user-images.githubusercontent.com/139910/182324068-7409557f-a176-4ae1-868c-9de2ab9b0324.png)

[2022-08-02 08:24] merks commented on #259
You're sure those came from the TP resolution and not from some automatic update checking?   I'd suggest deleting all the messages and re-resolving the TP again to confirm.  If arbitrary sites were loaded by PDE (or p2) one would have no real control over the TP's contents...

[2022-08-02 08:35] vogella commented on #259
Thanks @merks for the suggestion.

Unfortunately, I can repeat this after deleting the log entries. The list is shorter but I still get entries. She new screenshot. Maybe it is because I use "planner" mode? But where are the entries coming from? I do not have these listed in my IDE.

![image](https://user-images.githubusercontent.com/139910/182330388-a35edc5c-0e8c-4960-9cee-b83816f0aa98.png)

![im

[2022-08-02 08:39] laeubi commented on #259
Updatesites can reference other sites as well as mirrors. I once added some debugging in Tycho and some of the Eclipse sites reach out to more than 70 "sub-sites" ...

[2022-08-02 08:48] vogella opened #260 "Update PDE e4 examples to use Model-Fragment"
https://www.eclipse.org/eclipse/news/4.20/platform_isv.php introduced the Model-Fragment registration. Maybe we should also update the PDE templates  to use this approach?

[2022-08-02 10:16] laeubi opened #261 "org.eclipse.pde.api.tools.builder.tests.compatibility.BundleMergeSplitTests fails"
The org.eclipse.pde.api.tools.builder.tests.compatibility.BundleMergeSplitTests fails some times, it should either be fixed, disabled or explain why this particular test fails:

[code]

[2022-08-02 10:19] laeubi opened #262 "org.eclipse.pde.ui.templates.tests.TestPDETemplates.validateProduct fails"
org.eclipse.pde.ui.templates.tests.TestPDETemplates.validateProduct currently fails on master, it should either be fixed, disabled or explain why this failure is related:

[code]

[2022-08-02 10:39] iloveeclipse commented on #262
Most likely regression from https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/426

@mickaelistria : could you please check?

[2022-08-02 10:47] akurtakov commented on #260
Sounds good. I know nothing about e4 thought :)

[2022-08-02 10:48] laeubi commented on #260
@vogella do you like to propose a PR? Never was aware of any template and using the new fragment wizard instead...

[2022-08-02 10:49] akurtakov commented on #262
Mickal is on vacation, I'll take a look.

[2022-08-02 13:52] opcoach commented on #260
Good idea ! I discovered this during my last training in July...  No need to register the fragment as an extension like before ...

[2022-08-02 15:20] #262 closed

[2022-08-02 16:19] #74 closed

[2022-08-03 07:06] iloveeclipse commented on #69
Note: PR #234 causes a huge regression for compiling workspaces with plugins,
I'm mostly unable to work now using I20220802-1800 build because compiler needs ages now compiling a single bundle.
Compilation of entire workspace with lot of SDK bundles takes ~10 minutes instead of 1-2.

To reproduce: import jdt.core bundle in the workspace and do a clean build. It takes ages.

[2022-08-03 07:13] iloveeclipse commented on #69
Looking on stack traces I assume it is `org.eclipse.pde.internal.ui.annotations.OSGiAnnotationsCompilationParticipant` that causes trouble. Consider to either disable that until performance issues are identified or make optional via preference, or fix performance issue.

Since I'm using nightly SDK builds for my daily work ("eat my own dog food"), I can't continue to do this anymore since I2022080

[2022-08-03 07:36] laeubi commented on #69
@iloveeclipse I'll take a look at this, as you are more familiar with JDT, is there anything "wrong" in the usage or anything that could be performed better here? I assume it is common for code to inspect the Java-Files so I'm a bit astonished that this is causing such slow down?

[2022-08-03 07:59] iloveeclipse commented on #69
@laeubi : sorry, I have no time to work on this.

Briefly looking on the code I assume [isActive() ](https://github.com/eclipse-pde/eclipse.pde/blob/883fe148dbe465e38fd9512ec87d5dd02a949986/ui/org.eclipse.pde.ui/src/org/eclipse/pde/internal/ui/annotations/OSGiAnnotationsCompilationParticipant.java#L34) doesn't work, as it seem to slowdown compilation of ALL projects, independently if there is any

[2022-08-03 08:01] laeubi commented on #69
No problem I think I found a way to fix this for now, just need to get my SDK working again as I crashed it yesterday by merging the repositories and now Eclipse don't start up anymore :-\

[2022-08-03 08:12] laeubi commented on #69
Good point, this is maybe useless and incurred a higher performance penalty than simply assume if its a PDE project this should be applied, I have copied that from the DS Annotations processor but really wonder if it is good for anything:

- Lets assume the annotation could be found, then i still need to check if the annotation is present
- If not, then it can't be used, and processing will not do

[2022-08-03 08:41] iloveeclipse commented on #69
@laeubi : please also consider to add a preference to turn this feature off.

BTW, it would be nice if there would be explanation **what** actually the future is (from the user point of view), because #234 doesn't say anything *concrete*.

[2022-08-03 08:45] laeubi commented on #69
I'll try to explain this a bit more detail in the N&N entry, but first this must be usable by the user :-D

[2022-08-06 05:52] laeubi commented on #215
This is actually cause by https://github.com/eclipse/tycho/pull/1246

[2022-08-06 06:32] #216 closed

[2022-08-06 06:32] #217 closed

[2022-08-08 21:51] HannesWell commented on #238
The version of Eclipse you mentioned should include version 1.20 of m2e PDE, which is more recent than 1.17.

Nevertheless this fix in Eclipse PDE (which is referenced by M2E-PDE) will be relesed with Eclipse 2022-09 or 4.25 in September.

[2022-08-09 08:01] vogella commented on #238
i-build (daily build) can be found here: https://download.eclipse.org/eclipse/downloads/

[2022-08-09 09:03] vik-chand commented on #228
I have put the change in Y build. If the testing is uneventful, then I will put the change in master by tomorrow.

[2022-08-09 09:06] vik-chand opened #272 "ClasspathContributorTest::testAdditionalClasspathEntries fails"
[code]

[2022-08-09 10:02] MLausberg opened #274 "Frozen "Debug Configuration""
When opening the "Debug Configuration" and selecting any "Eclipse-Application" entry the UI freezes for some seconds.

In Version 2022-06 it took 40s to initialize the dialog completly.
In Version 2022-09 it takes 4,9s to initialize the dialog completly.

I do see
UI freeze of 4,9s
- Sample ... (1,1s)
- Sample ... (1,3s)
- Sample ... (2,0s)

eclipse.buildId=4.25.0.I20220809-0040
java.version=11.0.

[2022-08-09 10:15] vogella commented on #274
@vik-chand @jukzi any idea how to make this faster? 4.9 seconds delay is much better than 40s but still very slow for the user.

[2022-08-09 11:31] jukzi commented on #274
@MLausberg please add example workspace to reproduce or add sampling with VisualVm. How many plugins in workspace/target platform?

[2022-08-09 12:40] MLausberg commented on #274
The Workspace currently has 526 different bundle (fragment/plugin/feature) and the bundle Java-Code is not Open-Source.
Because of this it is not possible to give you my exact workspace.

Attached you will find 2 *.jfr files created with "JDK Mission Control 8.2.0+runner"
[flight_recording.zip](https://github.com/eclipse-pde/eclipse.pde/files/9290437/flight_recording.zip)

I had to reproduce the b

[2022-08-09 12:46] MLausberg commented on #274
and the corresponding VisualVM 2.1.4 result
[FrozenDebugConfiguration.zip](https://github.com/eclipse-pde/eclipse.pde/files/9290516/FrozenDebugConfiguration.zip)

[2022-08-09 12:54] jukzi commented on #274
that looks like WINDOWS performance problem / SWT.
![image](https://user-images.githubusercontent.com/51790620/183651948-8dfaef80-539a-4f46-bf47-e1228053adc3.png)

probably your virus scanner.

[2022-08-09 13:11] MLausberg commented on #274
I agree.

the 40s delay cannot be reproduced yet.
If this is the case i will re-open the issue.

[2022-08-09 13:11] #274 closed

[2022-08-09 13:26] #272 closed

[2022-08-10 15:27] vlakn opened #278 "JUnit 5 Tests can't be executed with Orbit junit plugin"
We are not able to execute JUnit 5 tests in the newest Eclipse release since we are still using the JUnit plugin from Orbit in our targetplatform (**org.junit.platform.engine**). Since [https://github.com/eclipse-pde/eclipse.pde/commit/0c8efc2458780306ba140552b794b647826c3549](https://github.com/eclipse-pde/eclipse.pde/commit/0c8efc2458780306ba140552b794b647826c3549) the JUnit plugin from mvn repo

[2022-08-10 17:29] HannesWell commented on #38
This is addressed with the following PRs and can be closed once all are merged:
- https://github.com/eclipse-pde/eclipse.pde/pull/269
- https://github.com/eclipse-pde/eclipse.pde/pull/276

[2022-08-10 17:33] HannesWell commented on #2
Isn't this a duplicate of https://github.com/eclipse-pde/eclipse.pde/issues/194?
Respectively @merks can you check if with the fix of that issue this is is resolved too?

[2022-08-11 07:00] jhonnen commented on #278
The problematic requirement doesn't come from the test-code though but from an older version of org.eclipse.test which still has a require bundle:

[code]
(The target platform basically contains a full eclipse SDK, including the junit engine plugins.)

The test launcher then unconditionally adds all maven bundles on top, because it only checks for symbolic names:
https://github.com/eclipse-pde/ecl

[2022-08-11 07:03] laeubi commented on #278
Why eclipse.test is part of a JUnit launch? In the inital request it was claimed that a never SDK is used, so is it fixed there and why an older one is pulled in here?

[2022-08-11 07:15] jhonnen commented on #278
The IDE is new (containing maven bundles) while the target platform contains an older SDK (containing orbit bundles). org.eclipse.test is part of the launch because it's required by a workspace plugin.

[2022-08-11 08:22] merks commented on #2
To test I added this to the Workspace.setup to force that IU into the target platform.

![image](https://user-images.githubusercontent.com/208716/184092857-5c645178-c4d1-4816-8727-1ac4b4961519.png)

And I changed the launcher to include that bundle specifically:

![image](https://user-images.githubusercontent.com/208716/184092714-cf8567ef-3ea1-43c1-a0e9-ddbb1c4fc55d.png)

There is no error message

[2022-08-11 11:25] #228 closed

[2022-08-11 23:27] HannesWell commented on #2
Thanks for checking. Then lets close this as completed. :)

[2022-08-11 23:27] #2 closed

[2022-08-11 23:38] HannesWell commented on #215
Can we then close this as invalid?

[2022-08-12 06:13] iloveeclipse commented on #232
Still see the problem in https://ci.eclipse.org/pde/job/eclipse.pde/job/PR-286/1/ on https://github.com/eclipse-pde/eclipse.pde/pull/286.

#286 can't cause that! But it always fails with this PR.

[2022-08-12 06:22] #215 closed

[2022-08-12 06:24] laeubi commented on #232
Its random ... sometimes I get a green CI, then on the next change (e.g. adjust the javadoc or rebase, ...) it fails. I tried to debug the tests, but as it is not reliable reproachable its hard to guess whats wrong and I even don't understand enough how these API tools stuff works.

[2022-08-12 21:37] iloveeclipse commented on #232
**Seven build fails in a row**:
https://ci.eclipse.org/pde/job/eclipse.pde/view/change-requests/job/PR-286/

This cannot be by accident.
I've tried to add trivial changes from other projects to the PR just to see if that has any influence.
But by all means,  I can't find any relationship between the trivial change in the PR and the test failures.

[2022-08-13 09:08] akurtakov commented on #189
@HannesWell do you think you can find some time to look into this one?

[2022-08-13 13:54] HannesWell commented on #189
I'll try it.

[2022-08-13 14:52] HannesWell commented on #189
To me it looks like that the ANT-runtime somehow does not find the jettey-bundles that are included into the `org.eclipse.help` feature. But I cannot tell where it is specified what's available to ant. Is that taken from the runtime of the test? Then we just have to reference that.

But I cannot really test that, because when I run the test in the IDE fails with another error. But I'll try a local

[2022-08-13 17:34] HannesWell commented on #232
https://github.com/eclipse-pde/eclipse.pde/pull/289 only fails on GH but not on Jenkins.

[2022-08-16 05:14] laeubi opened #293 "Instead of using an include list, use an exclude list for the content tab"
Currently, if I deselect an item in the content tab **all** plugins are added to the product to be **included**, this can blow up the product a lot and is hard to handle, instead it would be better to just store what is **excluded** as this is much less and also do not interferes when adding new content.

Beside that, is might be useful to allow a more powerfull filtering, e.g. like provided by Ty

[2022-08-16 06:30] MLausberg opened #294 "src-annotation: <annotation> elements can only contain <appinfo> and <documentation> elements, but 'appInfo' was found."
When creating a new Extension-Point "*.exsd" in my own Eclipse Plugin, the "Overview" tab does show no errors.
But when selecting the "Source" Tab the XML validation claim different Errors (7 items)

`src-annotation: <annotation> elements can only contain <appinfo> and <documentation> elements, but 'appInfo' was found.`

Renaming the tag <appInfo> to <appinfo> will solve the Errors, but eeverytime

[2022-08-16 07:02] MLausberg opened #295 "Extension point schema for extension point "..." cannot be found"
Eclipse IDE for RCP and RAP Developers (includes Incubating components)
Version: 2022-06 (4.24.0)
Build id: 20220609-1112

A new created Extension Point can not be opened, when "Double-Click" on it
![image](https://user-images.githubusercontent.com/40763331/184817043-a36383b3-62a2-4bcf-bd0e-ab36f2233c33.png)

![image](https://user-images.githubusercontent.com/40763331/184817642-f65a3017-66bd-4560-

[2022-08-16 09:21] merks commented on #295
Is schema/Test.exsd specified in the build.properties to be in the bin.includes?

![image](https://user-images.githubusercontent.com/208716/184845010-3f6ff66f-2734-46f0-bbc5-265af91ab975.png)

[2022-08-16 10:05] MLausberg commented on #295
it is not part of "build.properties", but even when i add the folder, the "double click" does not work and the behaviour does not change.

"Double-Click" here does not work
![image](https://user-images.githubusercontent.com/40763331/184853399-4c7f829e-7d9e-45aa-9a0a-14598e4548de.png)

But clicking "Schema", will find and open the schema
![image](https://user-images.githubusercontent.com/40763331/1

[2022-08-16 10:35] merks commented on #294
I can reproduce this in my Oomph development environment, but not from a self-hosted SDK launch.  Then I noticed it's because the error comes from the language server as you can see from the Type column:

![image](https://user-images.githubusercontent.com/208716/184859059-03d66157-9472-4579-b399-1d3ad26f1339.png)

@akurtakov

These kind of errors are of course super disruptive and then to make Ecl

[2022-08-16 10:43] laeubi commented on #294
Why is the language server (most probably [lemminx](https://github.com/eclipse/lemminx)) to blame if eclipse generates documents that don't conform to their declared schemas?

[2022-08-16 10:58] merks commented on #294
The problem is that *.exsd does not actually conform to the XML Schema specification.  It never has and it never will.  You can find countless examples *.exsd examples in your SDK workspace.  Here we see `appInfo` appears thousands of times:

![image](https://user-images.githubusercontent.com/208716/184862078-002e541f-56ca-4466-bb39-e316b823431c.png)

The users did not make mistakes, PDE does this

[2022-08-16 11:04] laeubi commented on #294
The they should not declare this I have choose a random exsd file that states:
`<schema targetNamespace="org.eclipse.equinox.p2.artifact.repository" xmlns="http://www.w3.org/2001/XMLSchema">`
and that is a XSD schema definition

Making an error a thousand times do not make it correct.

This obviously is a misuses of PDE, actually XML allows extensions (thus its named **Extensible** Markup Language

[2022-08-16 11:12] laeubi commented on #294
The valid values are `use = (optional | prohibited | required)` so a schema valid would be to set default = "default value" and use = "required"

[2022-08-16 11:25] merks commented on #294
I would have never considered such a simple, pragmatic solution without you pointing it out.  We can "simply" change all existing *.exsd files everywhere in the known universe to use another namespace and then change PDE to work with that instead, or likely work with both for backward compatibility.   That won't be totally, prohibitively expensive, but it is the only correct solution, technically.

[2022-08-16 11:33] MLausberg commented on #295
After restarting Eclipse, i was able to get the "Double-Click" working.

i have the feeling, that this is related to some kind of cache/map inside Eclipse.
I try to reproduce the error and provide a use case.

[2022-08-16 11:34] laeubi commented on #294
You asked whats wrong here, but there no grantee that you like the answer ;-)

Obviously this validation do not really validate anything according to the declared schema.

And now you pay the price for the abuse of that... PDE could/should have simply defined its own XSD schema to conform with and then we won't be in this situation right here. Again you asked why this error is shown and I can only

[2022-08-16 11:45] MLausberg commented on #295
in older Eclipse Plugins we see the following first lines inside "plugin.xml"

[code]
And this seem to be the issue and is not supported anymore?

Just by switching to
[code]

in combination with an Eclipse Restart, the "double-click" works again.

Another side effect is the following

Plugin A defines the Extension Point and uses
`<?eclipse version="3.0"?>`

Plugin B would like to use the Extensi

[2022-08-16 11:45] merks commented on #294
Sorry for being sarcastic.   But only a little very tiny bit... 👅

PDE does declare a content type for this thing:

![image](https://user-images.githubusercontent.com/208716/184871470-f336d9f8-d8c7-43c8-b0a1-699a3c41d567.png)

Ideally we would be able to opt out based on this.  Or the Language Server could be "smarter" about seeing this has *.exsd extension and not validating it like a *.xsd in th

[2022-08-16 11:49] laeubi commented on #294
Extension do not matter AFAIK (that's another discussion though ...) but as you see it has "Associated editors" including XML Editor, its just a guess but that *might* trigger this!

[2022-08-16 12:09] merks commented on #294
Do Eclipse-declared content types matter?

The only explicit content type bindings to editors for this content type are just are these

![image](https://user-images.githubusercontent.com/208716/184875031-7e3eebdc-833e-42f2-8eeb-972169047185.png)

I expect the rest come from the content type hierarchy (XML and then Text).

The target editor also has such an annoying Language Server thing, though ju

[2022-08-16 12:10] akurtakov commented on #294
The language server in question is https://github.com/eclipse/lemminx . I'm not a developer there so can't help but any ideas for better interoperability should be either reported and done there or at PDE site.

[2022-08-16 19:52] HannesWell commented on #189
Since I20220813-0600 the test is not failing anymore:
https://download.eclipse.org/eclipse/downloads/drops4/I20220813-0600/testresults/html/org.eclipse.pde.build.tests_ep425I-unit-mac64-java17_macosx.cocoa.x86_64_17.html

No clue why it is fixed, but it is.

[2022-08-16 19:52] #189 closed

[2022-08-16 19:54] iloveeclipse commented on #189
Because some libraries were reverted back to orbit versions.

[2022-08-16 19:55] iloveeclipse commented on #189
These: https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/480

[2022-08-16 20:50] HannesWell commented on #189
Interesting. When search for those bundle's name in the pde repo I found nothing that seem to be connected to pde.build or its tests.

[2022-08-16 21:14] HannesWell commented on #232
I can reproduce the failures when I build PDE locally. I started debugging it a but, but my knowledge about the internals of API-tools is very low, so I did not yet find a reason for sure, just one guess for that I created https://github.com/eclipse-pde/eclipse.pde/pull/296.

[2022-08-17 09:20] jukzi opened #297 "PDEPluginImages: NPE due to using SWT in background thread"
[code]

PDEPluginImages.initialize should be called in Display thread only

[2022-08-17 09:58] Phillipus opened #298 "Product launch broken in latest I build - java.lang.UnsupportedOperationException"
Eclipse Build id: I20220816-1800
Windows 10
Java 11

1. Open `*.product` editor
2. Click "Launch an Eclipse application in Debug mode"
3. Target application does not launch
4. Exception is thrown

`
java.lang.UnsupportedOperationException
	at java.base/java.util.AbstractList.add(AbstractList.java:153)
	at java.base/java.util.AbstractList.add(AbstractList.java:111)
	at org.eclipse.pde.internal.ui.l

[2022-08-17 10:09] Phillipus commented on #298
If I remove the VM arguments from the product file it launches.

Product file:

[code]

[2022-08-17 10:16] merks commented on #298
@HannesWell The code at line 193 trying to add to a list created by `Arrays.asList` at line 186:

https://github.com/eclipse-pde/eclipse.pde/blob/065da8c7a25bad5469981ae9dc948dbffdc5ef02/ui/org.eclipse.pde.ui/src/org/eclipse/pde/internal/ui/launcher/LaunchAction.java#L185-L204

[2022-08-17 10:19] merks commented on #298
This change:

https://github.com/eclipse-pde/eclipse.pde/commit/79ed2805d6a85fd1f46b5d2ef406c12ceaad7b52#diff-4b6639780456e0319239ce242173518757a5265789cfa529c1e50274eb15a3b3R193

[2022-08-17 10:21] merks commented on #298
I think a simple fix would be to change line 186 to this:
[code]

[2022-08-17 10:22] merks commented on #298
I can create a PR for that if others think that's a good fix...

[2022-08-17 10:28] Phillipus commented on #298
Thanks, Ed, for your `super-super-fast` response. 🚀

Using a mutable list rather than an immutable list seems to me the correct fix.

[2022-08-17 11:59] merks commented on #298
This is fixed in time for M3.

[2022-08-17 11:59] #298 closed

[2022-08-17 12:00] akurtakov commented on #298
Thanks Ed for the fast fix!

[2022-08-17 12:01] Phillipus commented on #298
@merks Many thanks! I'll test when the next I build is done.

[2022-08-18 08:58] Phillipus commented on #298
Tested in `I20220817-1800` and working. Thanks again.

[2022-08-18 10:59] vik-chand opened #300 "Intermittent failures in WorkspaceModelManagerTest"
testBundleRootHandling_bundleRootChangedFromNoneToDefault
testBundleRootHandling_bundleRootChangedFromNoneToOther
testProducts_productAddedToDeriveFolderNestedInSrcFolder
- testProducts_productAddedAndRemoved - ( sometimes this fails)

These test fail only in one of the platforms and is intermittent

[2022-08-18 12:26] gerking commented on #249
Done: eclipse-tycho/tycho#1274

[2022-08-19 11:31] Phillipus opened #303 "Test Fragments are no longer resolved in Feature when launching PDE JUnit Tests"
- All my Junit 4 test bundles are in Fragments to test their host bundles
- I have one class in one plug-in (`com.archimatetool.tests`) that aggregates all of these tests into one `TestSuite` to run all of the test suites in those Fragments
- I've created a Feature project, `com.archimatetool.tests.feature`, that contains this one plug-in, `com.archimatetool.tests`, for convenience so I can select

[2022-08-19 19:42] HannesWell commented on #303
Yes the launching of Eclipse apps has indeed been adjusted with 4.24 to not automatically add fragments to a launch just because their host participates. This behavior is not wanted in most cases and can cause hard to identify-problems. Furthermore there is no way to prevent a fragment from being included with the previous behavior.
In cases like yours you really have to add all fragments to that

[2022-08-19 19:45] Phillipus commented on #303
@HannesWell Thank-you for your reply. I'm fine with this change, and indeed I have added all fragments to the feature. I just wanted to make sure this was intended and not a regression or bug.

So, I'll close this one, 👍 and thanks for your work on PDE!

[2022-08-19 19:45] #303 closed

[2022-08-19 20:24] HannesWell commented on #303
You're welcome. Thanks for providing feedback.

[2022-08-20 17:26] mickaelistria commented on #294
The error reported by the language server are correct from an XML perspective. The exsd fle are indeed incorrect from an XML perspective. So I don't think there is anything to blame in LemMinX here.
Possible remediation to make the exsd files correct:
* Fix them so they're conform to the XMLSchema namespace, or
* Remove the XMLSchema namespace so they're not incorrect any more.

Even if one wants

[2022-08-21 20:55] mickaelistria commented on #278
Does the target platform/launch configuration also contain org.junit.platform.engine as expected by the older org.eclipse.test?

[2022-08-22 05:50] jhonnen commented on #278
Yes, both contain org.eclipse.test_3.4.400 and org.junit.platform.engine_1.8.1 as well as the junit runtime bundles, e.g. org.eclipse.jdt.junit5.runtime_1.0.800. The launch configuration validates successfully, so it shouldn't be necessary to add any bundles from the host eclipse.

[2022-08-23 07:14] vogella commented on #259
OK, lets close this in this case. Hopefully with the general move to Maven we can get rid more and more of update sites.

Thanks @laeubi for the info

[2022-08-23 07:15] vogella commented on #224
I assume you mean the validation dialog displayed during launching? Continue would ignore the error / warning while cancle would cancel the launch.

![image](https://user-images.githubusercontent.com/139910/186095141-f69a75b8-c921-41a9-9e72-d9ba05e83d99.png)

[2022-08-23 07:19] mickaelistria opened #305 "Validation dialog (when started from a launch) should have link/button to edit the launch config"
Often, when I do Run As > Eclipse Application, I get the validation coming in to tell me some requirements are not resolved. In the vast majority of cases, remediation involves getting to the launch config editor to add the required deps.
It would save a lot of clicks and some time and attention if the Validation dialog had a "Edit Launch Configuration" link or button to go directly to the usual r

[2022-08-23 07:20] laeubi commented on #224
No please read the ticket carefully:

[2022-08-23 07:46] vogella opened #306 "Validation button on product shows more issues than validation on runtime"
Validation issues reported with the validation button on the product:

![image](https://user-images.githubusercontent.com/139910/186101307-7402eb78-380d-40c9-a284-c94fd727f539.png)

Validation issues reported with the validation button on the launch configuration:

![image](https://user-images.githubusercontent.com/139910/186101464-63003a59-26fd-4914-bb65-d282503f2175.png)

@HannesWell do we have

[2022-08-23 07:48] vogella commented on #224
Looks even like we have two validation results, depending if you trigger it from the product or the launch, opened #306 for the differences in results.

[2022-08-23 08:06] vogella opened #307 "Remove "Run API analysis parallel to the build job" option from UI preferences"
IIRC @iloveeclipse planned to remvoe the "Run API analysis parallel to the build job" option from the preferences once this is stable.

Andrey, do you have time to remove it next release?

![image](https://user-images.githubusercontent.com/139910/186105793-9e9d1c42-6007-4231-98ae-33ae4b918aee.png)

[2022-08-23 09:30] mickaelistria commented on #278
Would you mind sharing a .target and a .launch file that would allow to reproduce this issue?

[2022-08-23 14:17] mickaelistria commented on #278
The code says
[code]
So I suspect that if `org.junit.platform.runner` and some other Orbit JUnit bundles are part of the .launch, then the extra requirements shouldn't be added, and the resolution error caused above by mixed "official" vs Orbit wouldn't happen.

[2022-08-23 14:51] vogella commented on #306
This was with yesterdays I-build.

Thanks

[2022-08-23 22:25] rgrunber opened #308 "Target file causes UI freeze and excessive logging"
Place the following target file in some folder and import that folder into the workspace :
[code]

1. Go to Window -> Preferences -> Plug-in Development -> Target Platform
2. Select the "Bad Target Platform" and click the edit button.
3. The target platform will fail to resolve, but click finish, select it and apply it. I've also seen a shorter freeze at this point.
(Note : I'm not sure why the ta

[2022-08-24 10:22] vogella opened #309 "Error using the content tab of the target editor while target platform is updating"
If the target platform is loading you get an error if you switch to the content tab and try to enter a filter.

![image](https://user-images.githubusercontent.com/139910/186395084-153b7a31-0fd4-49d8-872b-e0cdd56f8ace.png)

[2022-08-24 10:27] laeubi commented on #309
@vogella do this happen for every target or a specific target? You might want to attach a reproducing example here.

[2022-08-24 10:31] vogella commented on #309
Every target file which is not yet loaded

[2022-08-24 13:45] mickaelistria commented on #308
The resolution issue seems to be caused by the 1st location not being aware of the 2nd. Can you please report a dedicated bug for that?
I could reproduce the freeze in some cases, and I think it's a particularity of how .target HTTPS referenced are resolved. I believe it can easily cause a deadlock or at least a freeze. One the resolution of this .target is complete (even unsuccessfully), everythi

[2022-08-24 14:48] laeubi commented on #308
See
- https://github.com/eclipse-pde/eclipse.pde/issues/207

[2022-08-25 08:35] vogella opened #310 "An internal error occurred during: "Resolving "zak3" target definition". Cannot invoke "org.eclipse.equinox.internal.p2.engine.ProfileLock.unlock()" because "lock" is null"
Maybe a p2 problem, but I frequently see the following error:

![image](https://user-images.githubusercontent.com/139910/186616563-3831c1be-b896-4ec8-a047-af92d9c79aeb.png)

java.lang.IllegalStateException: The profile is not locked.
	at org.eclipse.equinox.internal.p2.engine.ProfileLock.unlock(ProfileLock.java:126)
	at org.eclipse.equinox.internal.p2.engine.SimpleProfileRegistry.internalUnlockPro

[2022-08-25 09:24] mickaelistria commented on #310
Is this a regression compared to 4.24 ?

[2022-08-25 09:34] vogella commented on #310
Nothing we need to fix for 4.25 a restart of Eclipse fixes this and it does not happen all the time.

[2022-08-25 10:01] cPecican opened #311 "Run/ Debug Configurations tab Plug-ins"
When I am changing Start Level/ Auto-Start for some plug-ins and apply the changes, after I close and reopening the popup all the changes in the Start Level/ Auto-Start are disappearing.
**This only happens if `Only show selected` is checked.**
If I am not checking the option "Only show selected", then all of the above are working fine.

[2022-08-25 10:45] vik-chand commented on #300
testProducts_productAddedToDerivedSourceFolder fails on RC1 build on 1 platform

[2022-08-25 14:56] jukzi opened #312 "APIToolsJavadocCompletionProposalComputer: Resource was not properly disposed"
(after pressing ctrl+shift in a javadoc @see link)
[code]

[2022-08-26 08:13] merks commented on #310
Unless we can reproduce it we can't determine the cause or fix anything anywhere.  The earlier call that locks the profile doesn't actually check whether the lock succeeds but continues and then calls unlock which fails if the thing isn't locked.  Seems kind of strange, but the question remains, why couldn't it lock?  What strange state are things in?

[2022-08-26 08:25] jukzi commented on #312
don't know whats wrong here: there is a fImageHandle.dispose() in org.eclipse.pde.api.tools.ui.internal.completion.APIToolsJavadocCompletionProposalComputer.sessionEnded()
- may be multiple proposals overwrite fImageHandle?

[2022-08-30 14:31] vogella opened #316 "-nl parameter from product not corretly added to launch configuration"
If I add -nl de to the product, the -nl is not added to the launch configuration.

It becomes: -os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog de

Instead of

-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl de -consoleLog

To replicate:

1.) Create new plug-in with RCP and e4 template
2.) Add parameters -nl de to the Program Arguments
3.) Start produc

[2022-08-30 14:32] vogella commented on #316
Reproducer in https://github.com/vogella/rcp-translations, clone and import and start via com.vogella.translation.product

[2022-08-30 21:39] HannesWell commented on #316
This is a regression from https://github.com/eclipse-pde/eclipse.pde/pull/288.

I just created a fix: https://github.com/eclipse-pde/eclipse.pde/pull/317

With the mentioned fix it is actually `-os ${target.os} -ws ${target.ws} -arch ${target.arch} -consoleLog -nl de`, but that should have the same effect.

[2022-08-31 07:12] #316 closed

[2022-08-31 14:22] vik-chand opened #318 "144 test failures in pde.build since I20220830-0600"
144 test failures in pde.build since I20220830-0600

[2022-08-31 15:18] vik-chand commented on #318
next build should be fine after the revert

[2022-08-31 15:18] #318 closed

[2022-08-31 15:20] iloveeclipse commented on #318
Revert of what? Could you please link to the root cause?

[2022-09-01 07:31] jukzi opened #319 "SharedLabelProvider not properly disposed Image"
Not properly disposed SWT resource

eclipse.buildId=4.25.0.I20220828-1800
java.version=17.0.4
java.vendor=Eclipse Adoptium
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Command-line arguments:  -os win32 -ws win32 -arch x86_64

[code]

[2022-09-01 07:43] vik-chand commented on #318
Wrong branch was merged into master for jdt.core erroneously.  See commit in jdt.core repository.

[2022-09-01 07:51] merks commented on #318
You mean this one?

https://github.com/eclipse-jdt/eclipse.jdt.core/pull/361

[2022-09-01 08:52] vogella commented on #319
SharedLabelProvider only disposes its images if it has no consumers and connect and disconnect is not called the same time, so most likely one of the consumers forgets to disconnect.

[code]
Looks to me that the PDEPlugin creates this label provider and stops it in its stop method. So IMHO we could remove the consumer check completely and just dispose the images in call cases.

@HannesWell WDYT?

[2022-09-01 08:57] vogella commented on #316
Verfied in Eclipse SDK
Version: 2022-09 (4.25)
Build id: I20220831-1800
OS: Linux, v.5.15.0-46-generic, x86_64 / gtk 3.24.33, WebKit 2.36.6
Java vendor: Eclipse Adoptium
Java runtime version: 17.0.3+7
Java version: 17.0.3

[2022-09-01 08:58] laeubi commented on #319
I think the point is that it is a **Shared**LabelProvider so other code might call `dispose()` as well, but as we are of full control of the code, maybe it would be better to have a `dispose(force)` method where the regular dispose calls it with `false` and from the stop we call it with `true` and then even remove all consumers that are left?

[2022-09-01 09:03] vogella commented on #319
@laeubi I don't think it is a valid scenario for a consumer of the shared label provider to dispose it. Unless we find such a scenario is our internal code, we should use this opportunity to simplify the code.

[2022-09-01 09:06] merks commented on #319
Note that there are call paths even for the shared label provider of the plugin that use the label provider in a viewer and I think that viewer will dispose it:

![image](https://user-images.githubusercontent.com/208716/187876371-a8bf08c5-6e7e-4c69-8576-59230b5e568f.png)

I.e., here:

![image](https://user-images.githubusercontent.com/208716/187876568-f5ab9d33-2b0b-4557-9874-ffd19d1696e9.png)

[2022-09-01 09:18] HannesWell commented on #316
Great! And thank you for the report.

[2022-09-01 09:22] laeubi commented on #319
At least if the Javadoc is correct:
[code]

[2022-09-01 09:30] vogella commented on #319
Yes, I saw this too, hence https://github.com/eclipse-pde/eclipse.pde/issues/319#issuecomment-1233982757

[2022-09-01 10:39] vik-chand commented on #318
yes

[2022-09-01 11:51] vik-chand commented on #300
testProducts_productAddedAndRemoved fails in RC2 build  ( on Mac) but the rest of the test pass

[2022-09-02 06:36] jukzi opened #321 "NPE in ClasspathHelper.getDevPaths()"
randomly happened :
eclipse.buildId=4.23.0.I20220308-0310
[code]
after restarting eclipse the error was gone.

was already reported in https://bugs.eclipse.org/bugs/show_bug.cgi?id=437727

=> model.getPluginBase().getLibraries() returned a null element in the array

It's unclear how that can happen but it might help to make eager null checks at add(IPluginLibrary library) methods before adding to

[2022-09-02 07:16] jukzi commented on #321
The error could also happen if two launch configurations started at the same time.
org.eclipse.pde.internal.core.bundle.BundlePluginBase.getLibraries() is called in parallel, initializing BundlePluginBase.libraries with a non thread safe ArrayList and then adding elements. two add in parallel to an ArrayList can lead to an null element.

[2022-09-05 05:29] laeubi opened #326 "[target editor] Detect the type of the target to be added when pressing "Add""
Most of the time when I want to add something to a target I copy some data to the clipboard in advance (e.g. a URL, a folder path, some maven coordinates...).

Currently when I press the "add button" I got the first entry selected. It would be useful if target location providers could be asked if they claim to be able to handle content from the clipboard and then get preselected.

[2022-09-05 05:53] laeubi opened #327 "copy bin-included resources to the output folder"
This is the counter-part of the Tycho issue:
- https://github.com/eclipse-tycho/tycho/issues/1288

Currently one can define certain resources to be included in "the binary build" but those are not copied to the output folder but when running a launch the project itself is made available as bundle content.

This has some drawbacks:

1. Whether or not something is included is not really taken into a

[2022-09-05 06:49] iloveeclipse commented on #297
This causes **massive amount** of errors on startup, making PDE & JDT unusable.
The patch is incorrect. Assumption that PDE activator start() is always called from UI thread is incorrect.
If not, see above, IDE need to be restarted.

[code]

[2022-09-05 07:11] merks commented on #327
I'm not sure the impact this is supposed to have on built-in URLs like this and how FileLocator resolves them:
[code]
It seems to me that without the "maybe later step" such a change would simply result in duplicates on the classpath with no other benefit.  And if it's not "maybe later," I wonder how many assumptions are broken elsewhere and whether that offset the benefit...

[2022-09-05 07:16] mickaelistria commented on #297
Thanks @iloveeclipse . I submitted a revert in https://github.com/eclipse-pde/eclipse.pde/compare/master...mickaelistria:eclipse.pde.ui:revert-initialize-non-ui-thread?expand=1 . Would you mind reviewing/merging if it seems ok to you?

[2022-09-05 07:19] jukzi commented on #297
ok, please revert

[2022-09-05 07:19] HannesWell commented on #327
That is a point that hit me and my colleges regularly (the frequency declines with the experience but it still happens).
A while ago I even wrote a wrapper that checks if the requested resource is specified in the `bin.includes` if a product is launched from the IDE. But of course this does not scale well.
Such an approach would only be useful if built-in into the `EquinoxClassloader` and `Equinox

[2022-09-05 07:24] mickaelistria commented on #327
I believe the bundle/URL mapping is provided by the PDE Launch. So the PDE Launch would need to be tweaked too.
Once PDE Launch is changed to reference the `bin/` folder and this bin/ folder contains a complete pre-package of the bundle, I don't think FileLocator would need further work.

But the issue is the one pointed by @HannesWell : duplication of files may cause other confusions (eg someone

[2022-09-05 07:26] laeubi commented on #327
As these URLs are resolved at runtime, they are not really affected in functionality but might point to the then changed location (e.g. if they point to a real file).

Duplicates are not really bad, as long as both entries are "in sync", what of course has to be the case.

Without trying to move forward here, we will never know, that's why I said "maybe later", because there are two possible outco

[2022-09-05 07:28] laeubi commented on #327
As output folders are usually hidden, its very hard to do so, still an IDE can't prevent **all** mistakes, and when it comes to JDT it seems there is no issue at all with this where resources are always inside a source folder...

It is more that PDE is very special with its "bin-includes" stuff and people are always confused about that.

[2022-09-05 07:32] HannesWell commented on #327
I would like to avoid that but how should we then deliver such resources as part of our products?
However, is there a reason that speaks against always creating file-system links to the real included resources in the bin-folder? Then the overhead would be really small. And since since this is only used in the IDE and not in builds that should be fine, shouldn't it? Only PDE-build maybe would have

[2022-09-05 07:37] laeubi commented on #327
Don't think so, just wanted to point out that "copy" not always requires a full copy that takes additional space, e.g. linux supports even hard links and with the Java-NIO Path API all that stuff has become much more accessible to java.

I don't think any build tool needs to be adjusted here, it is just that the "in the IDE build", build class files and copy them, but not the "bin-included things"

[2022-09-06 11:09] jukzi opened #329 "ConcurrentModificationException in BundleSourcePage / Bundle.fDocumentHeaders"
Bundle.fDocumentHeaders is not a concurrent datastructure and access not synchronized

[code]

eclipse.buildId=4.23.0.I20220308-0310
java.version=11.0.14
java.vendor=Eclipse Adoptium
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -data C:\wamas\workspace\w5_15-staging_IDE-target

[2022-09-07 13:20] laeubi commented on #40
This is no longer required with the 2022-09 release.

Can you explain what is the main purpose for this? Are you curious what components are defined by a bundle or is it how to create new ones?

Because with the annotations it is much more convenient to use those instead of a wizard, but of course a wizard would be able to create annotation based stuff as well like it does for E4 already so one co

[2022-09-07 13:26] laeubi opened #332 "Bug 533490 - Find unused dependencies does not respect indirectly referenced class files"
Previously reported here: [Bug 533490](https://bugs.eclipse.org/bugs/show_bug.cgi?id=533490) - Find unused dependencies does not respect indirectly referenced class files

[2022-09-07 13:31] laeubi commented on #225
This might also be related:
- https://github.com/eclipse-pde/eclipse.pde/issues/332

@sratz do you have a reproducer for this case:

[2022-09-07 15:02] sratz commented on #225
@laeubi Yes, I have provided a reproducer in bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=537603

[2022-09-07 16:43] sratz commented on #225
There also was a proposed patch: https://git.eclipse.org/r/c/pde/eclipse.pde.ui/+/144502/

[2022-09-08 08:42] vogella opened #334 "java.lang.ClassNotFoundException: An error occurred while automatically activating bundle org.eclipse.pde.ui (234)."
Opening the PDE preference page results in

java.lang.ClassNotFoundException: An error occurred while automatically activating bundle org.eclipse.pde.ui (234).
	at org.eclipse.osgi.internal.hooks.EclipseLazyStarter.postFindLocalClass(EclipseLazyStarter.java:126)
	at org.eclipse.osgi.internal.loader.classpath.ClasspathManager.findLocalClass(ClasspathManager.java:570)
	at org.eclipse.osgi.internal.l

[2022-09-08 08:44] iloveeclipse commented on #334
Please use latest build, this problem was already fixed.

[2022-09-08 08:44] #334 closed

[2022-09-08 08:45] vogella commented on #334
Confirmed, updating my Eclipse from 3-4 days ago to current fixes this.

[2022-09-08 09:00] vogella opened #335 "Remove deprecated contents of org.eclipse.pde.ui.launcher package"
@jhonnen and @HannesWell can you handle the planned API deletion for PDE?

3. Remove deprecated contents of org.eclipse.pde.ui.launcher package
The following classes from org.eclipse.pde.ui.launcher have been deprecated since 2009 and are scheduled for removal after the September 2022 release. All classes have corresponding replacements in the org.eclipse.pde.launching bundle.
org.eclipse.pde.ui.l

[2022-09-08 10:14] HannesWell commented on #335
This was already done for the September 2022 release via https://github.com/eclipse-pde/eclipse.pde/pull/182.

Not sure if the removal was one release too early or if the documentation set the date too late, but it was done a little bit more than two years after marking it for removal, so I think the time of removal was actually ok.

[2022-09-08 10:51] vogella commented on #335
Could you update the removal document in the commons directory? Basically moving the section from "planned deletion" to "deleted API"?

[2022-09-10 20:21] HannesWell commented on #335
Done in https://github.com/eclipse-platform/eclipse.platform.common/pull/73.

[2022-09-10 20:21] #335 closed

[2022-09-18 15:35] laeubi opened #338 "Conver To > PDE Project does not add the java nature"
Currently on can convert a project to a PDE project, but if this is not already a java project this does not work well because the java nature is not added.

[2022-09-18 17:07] mickaelistria commented on #338
Not all PDE project have to be Java project. Eg in Platform there is `org.eclipse.ui.themes` that's not a Java project. So I'm unsure this is generally desirable to enable Java nature by default. Maybe the action could verify that the project contains some .java file first.

[2022-09-18 17:26] laeubi commented on #338
But whats the purpose of it being a "pde project" if it does not contain any java code? Would then be a plain project be sufficient?

[2022-09-19 07:19] mickaelistria commented on #338
A PDE project enables
* Dependency resolution based on MANIFEST.MF
* Run As > Eclipse application... launchers on the projects
* Detection by the other launch configuration, inclusion in launches applications
* Detection by other possible PDE integration stuff, such as API analysis (which might proceed things like plugin.xml)
* ...

So it's (unfortunately) not an empty decoration but something man

[2022-09-19 07:25] laeubi commented on #338
Does not sounds very useful if there is no code, maybe for a fragment that only contains resources, but would the java nature harm anything?

API analysis without any java code?

And I assume most if not all check for the java nature first, at least that the usual PDE code and for almost if not all cases a PDE nature implies a java nature ...

[2022-09-19 07:49] mickaelistria commented on #338
that has been multiple times useful to me, and I guess to others.

Maybe, but still, this case of a bundle without Java code is a valid one.

As mentioned, API analysis is kind of expected (not sure it does though) to also verify plugin.xml

I just gave you several counter-examples that not all check the java nature, so you assume wrong.

[2022-09-19 08:01] HannesWell commented on #338
Probably the only harm is that if the java-nature is present a missing .classpath file is indicated as an error. I haven't verified it, just guessing it, but if that isn't an error/warning, then I don't see any other harm.

[2022-09-19 08:01] laeubi commented on #338
If on absolutely needs and is certain he can remove the java nature, but having a PDE project without a java nature is really a very seldom edge case and generally not useful.

These are not real "counter examples" ... you are just listing some very rare cases where one can trigger some functionality, but none of those are "common cases" nor do they do not work or get harmed anything if the java n

[2022-09-19 08:04] laeubi commented on #338
A classpath file can be completely empty (if one wants it to be ...)

[2022-09-19 08:05] laeubi commented on #338
Just out of curiosity I tried this out, a project without java nature/builder has no PDE Dependencies resolved.

[2022-09-19 08:11] mickaelistria commented on #338
Well, maybe "counter exmaple" translate to something different in both our native language, but in mine, a counter-example is whatever example for which a general assumption is not true; and it's sufficient to use in order to prove the general assumption is wrong.

It has dependency resolved if you include it in some launch configuration and click "Add required plugins", or "validate". It's not vi

[2022-09-19 08:13] HannesWell commented on #338
That's right. Personally I don't like to keep around empty files, but in the rare case of resource-only plug-ins one can simply remove the .classpath file and the java-nature manually. So adding it by default seem reasonable for me, since in most cases it is desired.

[2022-09-19 08:20] laeubi commented on #338
But this function do not use the "resolved project dependencies" so it is not only not visible it is simply not used and not resolved for the project.

Well then we have at least one counter-example that **not** enabling it is also wrong, so the question is:

Should we not better then cover the common case than the seldom case when there is no general assumption that is true for every case?

[2022-09-19 08:30] mickaelistria commented on #338
The action can make the distinction and detect whether or not the folder has some Java files. Why not just making the conversion action smarter instead of adding constraints on unrelated well-formed and stable projects?

[2022-09-19 08:36] laeubi commented on #338
1. I have never stated any solution just a requirement, that is that converting a project to PDE should add the java nature (probably detecting some other stuff
2. As this is a manual action you can only trigger once for a project, this won't have any influence on existing "well-formed and stable projects" anyways ...

So this discussion is a bit strange to me because the current behavior produces

[2022-09-19 08:38] laeubi commented on #338
And just for completeness if I **create** a PDE Plugin project it always adds the java nature... so why should converting be different than creating it from scratch?

[2022-09-19 08:42] mickaelistria commented on #338
Not always, there is an option to explicitly create it (this option is on by default).

[2022-09-20 06:31] merks commented on #338
Why not make it an option like in the New Plug-in Project Wizard?  An option that is only present if it's not already a Java project. But I have even more general questions. Why is there nothing to convert a plain project to a Java project?   Why did someone create a plain project that is not a Java project and then later decide it should be a both Plug-in project and also a Java project.  That se

[2022-09-21 14:24] iloveeclipse opened #339 ""PojoObservables cannot be resolved" error in org.eclipse.pde.spy.event"
Regression from https://github.com/eclipse-platform/eclipse.platform.ui/pull/323

org.eclipse.pde.spy.event has compilation error now.

@vogella : please make sure it is fixed before next build.

[2022-09-21 15:06] iloveeclipse opened #341 "144 errors after JDT merge in I20220921-0710"
See
https://download.eclipse.org/eclipse/downloads/drops4/I20220921-0710/testResults.php
and especially
https://download.eclipse.org/eclipse/downloads/drops4/I20220921-0710/testresults/html/org.eclipse.pde.build.tests_ep426I-unit-macM1-java17_macosx.cocoa.aarch64_17.html

[2022-09-22 08:00] jukzi commented on #341
most of them are  like
[code]

[2022-09-22 08:14] vik-chand commented on #341
I think it is because jdt.debug Java 19 merge to master is missing. This should get corrected in the I build containing this merge.

[2022-09-22 08:17] iloveeclipse commented on #341
@SarikaSinha : I saw you've just merged jdt debug and Noopur did that for jdt.ui.
Are we ready with outstanding merges now?
If yes, I would like to trigger new I Build to see which regressions are left.

[2022-09-22 08:22] jukzi commented on #341
@HannesWell regarding
https://github.com/eclipse-pde/eclipse.pde/issues/194
even though an JDK19 environment would probably fix the issue, it is documented that JavaRuntime.getExecutionEnvironmentsManager().getEnvironment(execEnvID) may return null and in that case org.eclipse.pde.internal.build.site.PDEState.bestVmInstallFor(IExecutionEnvironment) could just return null too.

[2022-09-22 08:22] SarikaSinha commented on #341
We are working on adjusting the bundle versions in UI and debug. Will trigger after that.

[2022-09-22 08:29] #341 closed

[2022-09-22 08:29] vik-chand commented on #341
Resolved after jdt.debug and jdt.ui merge

[2022-09-22 09:20] SarikaSinha commented on #341
I build has been triggered.

[2022-09-22 13:33] vik-chand commented on #341
verified in https://download.eclipse.org/eclipse/downloads/drops4/I20220922-0520/testResults.php

[2022-09-23 06:57] jukzi commented on #341
https://github.com/eclipse-pde/eclipse.pde/pull/342

[2022-09-23 09:55] jukzi commented on #232
no fun to contribute to PDE with 611 failing test

[2022-09-24 12:52] HannesWell commented on #232
That's no fun for anybody involved. But just mentioning it does not help to solve the issue.

As you can see multiple persons already tried to solve the issue. As said in https://github.com/eclipse-pde/eclipse.pde/pull/296 I suspect that some projects from previous runs leak into the workspace for a following test case. Maybe due to a change in Tycho or somewhere else in the platform? I debugged t

[2022-09-26 13:30] vogella opened #343 "org.osgi.service.prefs reported as missing for RCP applications"
If I create a new RCP application using the org.eclipse.e4.rcp feature and its dependencies, PDE reports org.osgi.service.prefs reported as missing

![image](https://user-images.githubusercontent.com/139910/192289122-91b0698a-4b9c-42a0-bd2d-f49f5677fe5c.png)

@HannesWell is this really missing or just reported incorrectly?

[2022-09-26 21:27] HannesWell commented on #343
I assume the automatic inclusion of dependencies is enabled in the product and in the launch config?
Is it present in the TargetPlatform?
At least version 1.1.2 (which fits the bundle version range) is present in the current SimRel repo:
https://download.eclipse.org/releases/2022-09/202209141001/plugins/

If you can provide a minimal reproducer with target-platform and product file I can debug the

[2022-09-28 07:15] jukzi opened #344 "UI freeze during CompletionProposal"
In a big workspace i tried to STRG+1 on a class  that had wrong import. I got ~20 sec lag and head time to measure it:
Looks like a combination of pde+jdt. The UI thread should never wait for the indexer.
![image](https://user-images.githubusercontent.com/51790620/192712862-2cd9b3f7-40d8-4aee-889e-9e04cdfb8c04.png)

[2022-09-28 08:35] vogella commented on #344
This is something I also see from time to time and makes using the tooling very inconvenient if it happens.

[2022-09-29 16:10] vik-chand opened #345 "Intermittent test failures in API tools"
org.eclipse.pde.api.tools.builder.tests.compatibility.ProjectTypeContainerTests	testPackageNames	Error	Component 'API Tools Tests Plug-in A' in the baseline 'workspace' is disposed

org.eclipse.core.runtime.CoreException: Component 'API Tools Tests Plug-in A' in the baseline 'workspace' is disposed
at org.eclipse.pde.api.tools.internal.model.BundleComponent.baselineDisposed(BundleComponent.java:12

[2022-09-30 16:44] mickaelistria opened #347 "NPE when trying to enable some Target Platform"
From the Target Platforms preference page, I try to enable another target platform. Click Apply > OK, no visible error but the Target Platform is actually not changed. Getting back to the preference shows previous target platform is still used.
The log says
[code]

[2022-09-30 19:25] #347 closed

[2022-10-01 09:30] mickaelistria opened #349 "TargetDefinitionPersistenceTests not run with Tycho build"
TargetDefinitionPersistenceTests are not run with Tycho build, so we miss interesting failures.
Detected by https://github.com/eclipse-pde/eclipse.pde/pull/348#issuecomment-1264275459

[2022-10-01 09:38] mickaelistria commented on #349
Submitted #349 on that matter

[2022-10-01 10:38] mickaelistria commented on #232
I'm thinking maybe the issue comes from the detected JRE. I can easily and constantly reproduce the issue locally where only Java 18 and Java 11 are installed.
Running the test locally and looking at report shows that `ProjectTypeContainerTests.setUp()` is the 1st failure in the suite. I debug the failure as described in https://github.com/eclipse-pde/eclipse.pde/issues/232#issuecomment-1197797747

[2022-10-01 11:34] laeubi commented on #232
Do we really should consider Java 1.5 (!) here?

Looking at org.eclipse.pde.api.tools.internal.APIFileGenerator.resolveCompliance(Map<String, String>) it seems API tools is not updated a long time as it only seem to support Java up to 1.8 ...

[2022-10-01 11:42] laeubi commented on #232
I created:
- https://github.com/eclipse-pde/eclipse.pde/pull/352

to see if more java versions are helping here (using Java 8, Java 11, Java 17)

[2022-10-01 13:07] mickaelistria commented on #232
When on that breakpoint, I see on manager.workspaceBaseline.fEEStatus="Status ERROR: org.eclipse.pde.api.tools code=0 Baseline not bound - there are no installed VMs compatible with the required execution environments".

@laeubi let's first ensure about the cause and possible remediation before challenging the current state of art. It could be that keeping some support for J2SE-1.5 is actually sim

[2022-10-02 05:50] laeubi commented on #232
Obviousness it does not work to that well, anyways I adjusted the GH build to include java 1.8 and it seems to have only one failing test left:
https://github.com/eclipse-pde/eclipse.pde/pull/315

[2022-10-02 07:59] mickaelistria commented on #232
I've kept investigating the issue and reduced the case to 7 test suites that running together show the issue; but remove any of those and the issue disappears and tests suddenly work... It seems like there are a bunch of side-effects at play that make that those tests are badly affected by lots of unrelated things.

[2022-10-05 07:16] HannesWell commented on #232
Can you post a List of those 7 tests or provide a draft PR with the stripped down test-suite?

[2022-10-05 07:48] angelozerr commented on #175
As exsd doesn't respect the full specification of XML Schema, I suspect it is the problem, that's why we decide to not validate *.exsd files with LemMinX. See issue https://github.com/eclipse/lemminx/issues/1275

We will release soon lemMinX and once release will be done, WWD could integrate it and you will benefit with this feature.

[2022-10-05 07:49] angelozerr commented on #175
I think this issue is the same than https://github.com/eclipse-pde/eclipse.pde/issues/294

[2022-10-05 08:01] merks commented on #175
Yes, it's the same issue.  A *.exsd resource doesn't use proper xmlns prefixing and if you try to make the validator happy and the *.exsd doesn't work anymore.  I think you need to disable this to make it stop:

![image](https://user-images.githubusercontent.com/208716/194010395-4a4efa2e-4030-4e99-bc5d-a2256321fa9d.png)